In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

WARNING:tensorflow:From C:\Users\Matt\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
flights_df = pd.read_csv('Atlanta_01_2023_Flights.csv')

In [3]:
flights_df

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DELAY_GROUP,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1,1,7,AA,1006,"Miami, FL","Atlanta, GA",2100,2058.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
1,1,1,7,AA,1045,"Miami, FL","Atlanta, GA",1925,1922.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
2,1,1,7,AA,1051,"Atlanta, GA","Dallas/Fort Worth, TX",1817,1816.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
3,1,1,7,AA,1051,"Dallas/Fort Worth, TX","Atlanta, GA",1425,1420.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
4,1,1,7,AA,1151,"Atlanta, GA","Miami, FL",602,553.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56164,1,31,2,WN,972,"Atlanta, GA","Cleveland, OH",1635,1631.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
56165,1,31,2,WN,972,"Denver, CO","Atlanta, GA",1100,1107.0,7.0,0.0,5,NaN,NaN,NaN,NaN,NaN
56166,1,31,2,WN,993,"Atlanta, GA","Omaha, NE",900,856.0,0.0,-1.0,4,NaN,NaN,NaN,NaN,NaN
56167,1,31,2,WN,993,"Fort Lauderdale, FL","Atlanta, GA",615,613.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
56168,1,31,2,WN,994,"Atlanta, GA","Chicago, IL",2155,2338.0,103.0,6.0,3,0.0,0.0,0.0,0.0,91.0

In [4]:
flights_df['MKT_UNIQUE_CARRIER'].unique()

array(['AA', 'AS', 'B6', 'DL', 'F9', 'NK', 'UA', 'WN', 'G4'], dtype=object)

In [5]:
#Only look at flights leaving Atlanta on Delta
DL_flights_df = flights_df.loc[(flights_df['MKT_UNIQUE_CARRIER']=='DL')&(flights_df['ORIGIN_CITY_NAME']=='Atlanta, GA')]
#Seperate the data into features and targets.
X=DL_flights_df[['DAY_OF_MONTH','DAY_OF_WEEK','DEST_CITY_NAME','CRS_DEP_TIME','DISTANCE_GROUP']]
X

,DAY_OF_MONTH,DAY_OF_WEEK,DEST_CITY_NAME,CRS_DEP_TIME,DISTANCE_GROUP
111,1,7,"Dallas/Fort Worth, TX",2230,3
113,1,7,"Wichita, KS",1105,4
116,1,7,"New Orleans, LA",1359,2
118,1,7,"Tallahassee, FL",1515,1
120,1,7,"Portland, OR",1755,9
...,...,...,...,...,...
55767,31,2,"Los Angeles, CA",2024,8
55769,31,2,"Daytona Beach, FL",2235,2
55774,31,2,"Seattle, WA",810,9
55775,31,2,"Ontario, CA",2045,8
55777,31,2,"Charlotte, NC",715,1

In [6]:
#Turn DEST_CITY_NAME into numeric values
dest_cities = X['DEST_CITY_NAME'].unique().tolist()
dest_cities_ids = []
for i in X.iterrows():
    dest_cities_ids.append(dest_cities.index(i[1]['DEST_CITY_NAME']))
X['Dest_City_id']=dest_cities_ids

C:\Users\Matt\AppData\Local\Temp\ipykernel_12044\3652359326.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Dest_City_id']=dest_cities_ids

In [7]:
#Drop the original DEST_CITY_NAME column
X=X.drop('DEST_CITY_NAME',axis=1)
X

       DAY_OF_MONTH  DAY_OF_WEEK  CRS_DEP_TIME  DISTANCE_GROUP  Dest_City_id
111               1            7          2230               3             0
113               1            7          1105               4             1
116               1            7          1359               2             2
118               1            7          1515               1             3
120               1            7          1755               9             4
...             ...          ...           ...             ...           ...
55767            31            2          2024               8            12
55769            31            2          2235               2           112
55774            31            2           810               9            88
55775            31            2          2045               8            14
55777            31            2           715               1            28

[19932 rows x 5 columns]

In [8]:
#Scale the feature data, X
from sklearn.preprocessing import StandardScaler
# Scaling the numeric columns
scaler = StandardScaler()
scaler.fit(X)
transformed_data = scaler.transform(X)
# Creating a DataFrame with with the scaled data
transformed_data_df = pd.DataFrame(transformed_data)

transformed_data_df

              0         1         2         3         4
0     -1.718081  1.508070  1.465448 -0.088702 -1.530221
1     -1.718081  1.508070 -0.789123  0.406400 -1.503909
2     -1.718081  1.508070 -0.280091 -0.583804 -1.477597
3     -1.718081  1.508070  0.032543 -1.078906 -1.451285
4     -1.718081  1.508070  0.513518  2.881911 -1.424973
...         ...       ...       ...       ...       ...
19927  1.651297 -0.903545  1.052611  2.386809 -1.214477
19928  1.651297 -0.903545  1.475469 -0.583804  1.416725
19929  1.651297 -0.903545 -1.380322  2.881911  0.785237
19930  1.651297 -0.903545  1.094697  2.386809 -1.161853
19931  1.651297 -0.903545 -1.570708 -1.078906 -0.793484

[19932 rows x 5 columns]

In [9]:
from sklearn.decomposition import PCA
# Create a PCA model
pca = PCA(n_components=3)

In [10]:
# Use the PCA model with `fit_transform` to reduce to
# three principal components.
pca_data = pca.fit_transform(transformed_data_df)

pca_dict = {}
for i in range(0,3):
    pca_dict[f'pca{i+1}']=pca_data[:,i]
# Display sample data
pca_df = pd.DataFrame(pca_dict)
pca_df

           pca1      pca2      pca3
0      0.505913  0.084625  2.904195
1      1.670640  0.041999  1.822723
2      0.782476  0.067469  2.029802
3      0.308639  0.081514  2.159592
4      2.842662  0.022838  2.534571
...         ...       ...       ...
19927  1.851107 -0.557332 -0.777355
19928 -1.974992 -0.419412 -1.079311
19929  1.866103 -0.541895 -2.244402
19930  1.803000 -0.555055 -0.764874
19931  0.180560 -0.526558 -2.243033

[19932 rows x 3 columns]

In [11]:
#Seperate the data into features and targets
is_delayed=DL_flights_df['DEP_DELAY_NEW'].tolist()
y=[]
#Determine if the flight was delayed using the DEP_DELAY_NEW column and
#convert to boolean values
for i in is_delayed:
    if i == 0:
        y.append(0)
    else:
        y.append(1)
y = pd.DataFrame(y)
y

       0
0      0
1      0
2      0
3      1
4      0
...   ..
19927  1
19928  0
19929  1
19930  1
19931  1

[19932 rows x 1 columns]

In [12]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(transformed_data_df, y, random_state=78)

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu", input_dim=5))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

WARNING:tensorflow:From C:\Users\Matt\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 36

 dense_1 (Dense)             (None, 6)                 42

 dense_2 (Dense)             (None, 6)                 42

 dense_3 (Dense)             (None, 1)                 7

=================================================================
Total params: 127 (508.00 Byte)
Trainable params: 127 (508.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\Matt\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [15]:
# Train the model
fit_model = nn_model.fit(X_train, y_train, epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\Matt\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\Matt\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

468/468 [==============================] - 1s 683us/step - loss: 0.6626 - accuracy: 0.6095
Epoch 2/100
468/468 [==============================] - 0s 679us/step - loss: 0.6500 - accuracy: 0.6307
Epoch 3/100
468/468 [==============================] - 0s 608us/step - loss: 0.6456 - accuracy: 0.6357
Epoch 4/100
468/468 [==============================] - 0s 604us/step - loss: 0.6421 - accuracy: 0.6411
Epoch 5/100
468/468 [==============================] - 0s 600us/step - loss: 0.6384 - accuracy: 0.6475
Epoch 6/100
468/468 [==============================] - 0s 600us/step - loss: 0.6343 - accuracy: 0.6506
Epoch 7/100
468/468 [==============================] - 0s 602us/step - loss: 0.6307 - accuracy: 0.6535
Epoch 8/100
468/468 [==============================] - 0s 600us/step - loss: 0.6279 - accuracy: 0.6575
Epoch 9/100
468/468 [==============================] - 0s 600us/step - loss: 0.6252 - accuracy: 0.6597
Epoch 10/100
468/468 [==============================] - 0s 598us/step - loss: 0.6233 - accuracy: 0.6600
Epoch 11/100
468/468 [==============================] - 0s 636us/step - loss: 0.6218 - accuracy: 0.6640
Epoch 12/100
468/468 [==============================] - 0s 606us/step - loss: 0.6208 - accuracy: 0.6659
Epoch 13/100
468/468 [==============================] - 0s 621us/step - loss: 0.6196 - accuracy: 0.6679
Epoch 14/100
468/468 [==============================] - 0s 613us/step - loss: 0.6192 - accuracy: 0.6699
Epoch 15/100
468/468 [==============================] - 0s 598us/step - loss: 0.6182 - accuracy: 0.6702
Epoch 16/100
468/468 [==============================] - 0s 598us/step - loss: 0.6174 - accuracy: 0.6699
Epoch 17/100
468/468 [==============================] - 0s 598us/step - loss: 0.6172 - accuracy: 0.6726
Epoch 18/100
468/468 [==============================] - 0s 598us/step - loss: 0.6168 - accuracy: 0.6710
Epoch 19/100
468/468 [==============================] - 0s 598us/step - loss: 0.6159 - accuracy: 0.6723
Epoch 20/100
468/468 [==============================] - 0s 604us/step - loss: 0.6155 - accuracy: 0.6727
Epoch 21/100
468/468 [==============================] - 0s 602us/step - loss: 0.6152 - accuracy: 0.6730
Epoch 22/100
468/468 [==============================] - 0s 600us/step - loss: 0.6147 - accuracy: 0.6726
Epoch 23/100
468/468 [==============================] - 0s 602us/step - loss: 0.6144 - accuracy: 0.6750
Epoch 24/100
468/468 [==============================] - 0s 600us/step - loss: 0.6138 - accuracy: 0.6758
Epoch 25/100
468/468 [==============================] - 0s 625us/step - loss: 0.6138 - accuracy: 0.6761
Epoch 26/100
468/468 [==============================] - 0s 621us/step - loss: 0.6133 - accuracy: 0.6765
Epoch 27/100
468/468 [==============================] - 0s 602us/step - loss: 0.6133 - accuracy: 0.6757
Epoch 28/100
468/468 [==============================] - 0s 608us/step - loss: 0.6130 - accuracy: 0.6753
Epoch 29/100
468/468 [==============================] - 0s 602us/step - loss: 0.6127 - accuracy: 0.6762
Epoch 30/100
468/468 [==============================] - 0s 606us/step - loss: 0.6126 - accuracy: 0.6756
Epoch 31/100
468/468 [==============================] - 0s 602us/step - loss: 0.6121 - accuracy: 0.6767
Epoch 32/100
468/468 [==============================] - 0s 608us/step - loss: 0.6118 - accuracy: 0.6756
Epoch 33/100
468/468 [==============================] - 0s 617us/step - loss: 0.6116 - accuracy: 0.6762
Epoch 34/100
468/468 [==============================] - 0s 602us/step - loss: 0.6113 - accuracy: 0.6767
Epoch 35/100
468/468 [==============================] - 0s 610us/step - loss: 0.6114 - accuracy: 0.6759
Epoch 36/100
468/468 [==============================] - 0s 604us/step - loss: 0.6109 - accuracy: 0.6768
Epoch 37/100
468/468 [==============================] - 0s 615us/step - loss: 0.6108 - accuracy: 0.6765
Epoch 38/100
468/468 [==============================] - 0s 600us/step - loss: 0.6107 - accuracy: 0.6769
Epoch 39/100
468/468 [==============================] - 0s 602us/step - loss: 0.6104 - accuracy: 0.6766
Epoch 40/100
468/468 [==============================] - 0s 598us/step - loss: 0.6102 - accuracy: 0.6771
Epoch 41/100
468/468 [==============================] - 0s 600us/step - loss: 0.6101 - accuracy: 0.6767
Epoch 42/100
468/468 [==============================] - 0s 600us/step - loss: 0.6101 - accuracy: 0.6762
Epoch 43/100
468/468 [==============================] - 0s 598us/step - loss: 0.6097 - accuracy: 0.6774
Epoch 44/100
468/468 [==============================] - 0s 600us/step - loss: 0.6099 - accuracy: 0.6754
Epoch 45/100
468/468 [==============================] - 0s 600us/step - loss: 0.6091 - accuracy: 0.6775
Epoch 46/100
468/468 [==============================] - 0s 604us/step - loss: 0.6094 - accuracy: 0.6782
Epoch 47/100
468/468 [==============================] - 0s 598us/step - loss: 0.6093 - accuracy: 0.6784
Epoch 48/100
468/468 [==============================] - 0s 606us/step - loss: 0.6091 - accuracy: 0.6786
Epoch 49/100
468/468 [==============================] - 0s 604us/step - loss: 0.6088 - accuracy: 0.6785
Epoch 50/100
468/468 [==============================] - 0s 604us/step - loss: 0.6093 - accuracy: 0.6786
Epoch 51/100
468/468 [==============================] - 0s 601us/step - loss: 0.6088 - accuracy: 0.6790
Epoch 52/100
468/468 [==============================] - 0s 605us/step - loss: 0.6082 - accuracy: 0.6780
Epoch 53/100
468/468 [==============================] - 0s 602us/step - loss: 0.6089 - accuracy: 0.6792
Epoch 54/100
468/468 [==============================] - 0s 604us/step - loss: 0.6083 - accuracy: 0.6782
Epoch 55/100
468/468 [==============================] - 0s 602us/step - loss: 0.6079 - accuracy: 0.6785
Epoch 56/100
468/468 [==============================] - 0s 607us/step - loss: 0.6079 - accuracy: 0.6793
Epoch 57/100
468/468 [==============================] - 0s 601us/step - loss: 0.6081 - accuracy: 0.6772
Epoch 58/100
468/468 [==============================] - 0s 620us/step - loss: 0.6080 - accuracy: 0.6782
Epoch 59/100
468/468 [==============================] - 0s 606us/step - loss: 0.6076 - accuracy: 0.6786
Epoch 60/100
468/468 [==============================] - 0s 610us/step - loss: 0.6078 - accuracy: 0.6790
Epoch 61/100
468/468 [==============================] - 0s 617us/step - loss: 0.6076 - accuracy: 0.6771
Epoch 62/100
468/468 [==============================] - 0s 603us/step - loss: 0.6073 - accuracy: 0.6786
Epoch 63/100
468/468 [==============================] - 0s 602us/step - loss: 0.6076 - accuracy: 0.6790
Epoch 64/100
468/468 [==============================] - 0s 604us/step - loss: 0.6074 - accuracy: 0.6796
Epoch 65/100
468/468 [==============================] - 0s 613us/step - loss: 0.6072 - accuracy: 0.6796
Epoch 66/100
468/468 [==============================] - 0s 604us/step - loss: 0.6073 - accuracy: 0.6784
Epoch 67/100
468/468 [==============================] - 0s 608us/step - loss: 0.6070 - accuracy: 0.6784
Epoch 68/100
468/468 [==============================] - 0s 601us/step - loss: 0.6069 - accuracy: 0.6800
Epoch 69/100
468/468 [==============================] - 0s 600us/step - loss: 0.6067 - accuracy: 0.6794
Epoch 70/100
468/468 [==============================] - 0s 606us/step - loss: 0.6069 - accuracy: 0.6777
Epoch 71/100
468/468 [==============================] - 0s 606us/step - loss: 0.6068 - accuracy: 0.6790
Epoch 72/100
468/468 [==============================] - 0s 600us/step - loss: 0.6067 - accuracy: 0.6782
Epoch 73/100
468/468 [==============================] - 0s 602us/step - loss: 0.6062 - accuracy: 0.6798
Epoch 74/100
468/468 [==============================] - 0s 618us/step - loss: 0.6065 - accuracy: 0.6800
Epoch 75/100

468/468 [==============================] - 0s 600us/step - loss: 0.6063 - accuracy: 0.6800
Epoch 76/100
468/468 [==============================] - 0s 604us/step - loss: 0.6062 - accuracy: 0.6798
Epoch 77/100
468/468 [==============================] - 0s 600us/step - loss: 0.6060 - accuracy: 0.6796
Epoch 78/100
468/468 [==============================] - 0s 603us/step - loss: 0.6062 - accuracy: 0.6792
Epoch 79/100
468/468 [==============================] - 0s 599us/step - loss: 0.6060 - accuracy: 0.6800
Epoch 80/100
468/468 [==============================] - 0s 604us/step - loss: 0.6060 - accuracy: 0.6812
Epoch 81/100
468/468 [==============================] - 0s 597us/step - loss: 0.6061 - accuracy: 0.6798
Epoch 82/100
468/468 [==============================] - 0s 606us/step - loss: 0.6056 - accuracy: 0.6801
Epoch 83/100
468/468 [==============================] - 0s 604us/step - loss: 0.6056 - accuracy: 0.6787
Epoch 84/100
468/468 [==============================] - 0s 602us/step - loss: 0.6054 - accuracy: 0.6808
Epoch 85/100
468/468 [==============================] - 0s 607us/step - loss: 0.6056 - accuracy: 0.6790
Epoch 86/100
468/468 [==============================] - 0s 602us/step - loss: 0.6050 - accuracy: 0.6811
Epoch 87/100
468/468 [==============================] - 0s 603us/step - loss: 0.6056 - accuracy: 0.6800
Epoch 88/100
468/468 [==============================] - 0s 602us/step - loss: 0.6054 - accuracy: 0.6802
Epoch 89/100
468/468 [==============================] - 0s 606us/step - loss: 0.6052 - accuracy: 0.6786
Epoch 90/100
468/468 [==============================] - 0s 602us/step - loss: 0.6051 - accuracy: 0.6800
Epoch 91/100
468/468 [==============================] - 0s 602us/step - loss: 0.6053 - accuracy: 0.6809
Epoch 92/100
468/468 [==============================] - 0s 610us/step - loss: 0.6052 - accuracy: 0.6792
Epoch 93/100
468/468 [==============================] - 0s 602us/step - loss: 0.6051 - accuracy: 0.6800
Epoch 94/100
468/468 [==============================] - 0s 602us/step - loss: 0.6049 - accuracy: 0.6814
Epoch 95/100
468/468 [==============================] - 0s 604us/step - loss: 0.6049 - accuracy: 0.6808
Epoch 96/100
468/468 [==============================] - 0s 603us/step - loss: 0.6048 - accuracy: 0.6800
Epoch 97/100
468/468 [==============================] - 0s 601us/step - loss: 0.6046 - accuracy: 0.6795
Epoch 98/100
468/468 [==============================] - 0s 598us/step - loss: 0.6043 - accuracy: 0.6812
Epoch 99/100
468/468 [==============================] - 0s 604us/step - loss: 0.6044 - accuracy: 0.6794
Epoch 100/100
468/468 [==============================] - 0s 610us/step - loss: 0.6045 - accuracy: 0.6803

In [16]:
#Check the model's loss and accuracy 
model_loss, model_accuracy = nn_model.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

156/156 - 0s - loss: 0.6122 - accuracy: 0.6807 - 152ms/epoch - 975us/step
Loss: 0.612212061882019, Accuracy: 0.6807144284248352

In [17]:
#Compare the test data to the predictions
predictions = nn_model.predict(X_test).reshape(4983).tolist()
pd.DataFrame({'y_test':y_test[0],'predictions':predictions}).sort_values(by=['predictions']).head(50)

156/156 [==============================] - 0s 469us/step

       y_test  predictions
17778       0     0.078026
17793       0     0.084267
17730       0     0.085115
17693       0     0.086307
17794       0     0.086913
17803       1     0.088575
17761       0     0.100584
17495       0     0.104842
17735       0     0.106123
17775       0     0.107542
11757       0     0.110240
11725       0     0.117439
17685       0     0.124122
5458        0     0.132078
17776       1     0.133070
17770       0     0.134037
5430        0     0.134165
17434       0     0.134667
5376        0     0.135197
5418        0     0.135233
17700       0     0.135607
17456       0     0.136137
12500       0     0.137253
17328       0     0.137320
17391       0     0.138044
5422        0     0.138518
5078        0     0.138879
5459        1     0.138938
5247        0     0.139075
5388        0     0.139479
5442        0     0.140165
7469        0     0.140479
5415        0     0.141907
18003       0     0.142075
18032       0     0.142328
4955        0     0.142822
5384        0     0.143111
5323        0     0.143537
5367        0     0.144285
17890       0     0.144400
5390        0     0.144949
5433        0     0.145042
17780       0     0.146200
5432        0     0.146944
18235       0     0.147329
11464       0     0.147656
5398        0     0.147797
12084       0     0.147961
5249        0     0.148559
13103       0     0.148612

In [ ]:
nn_model.save()