In [37]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from keras.layers import Dense, Dropout

In [38]:
flights_df=pd.read_csv('./Resources/Atlanta_Flight_Status.csv').drop('Unnamed: 0',axis=1)

flights_df

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DELAY_GROUP,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1,1,7,AA,1006,"Miami, FL","Atlanta, GA",2100,2058.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
1,1,1,7,AA,1045,"Miami, FL","Atlanta, GA",1925,1922.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
2,1,1,7,AA,1051,"Atlanta, GA","Dallas/Fort Worth, TX",1817,1816.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
3,1,1,7,AA,1051,"Dallas/Fort Worth, TX","Atlanta, GA",1425,1420.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
4,1,1,7,AA,1151,"Atlanta, GA","Miami, FL",602,553.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593798,9,30,6,WN,778,"Indianapolis, IN","Atlanta, GA",810,806.0,0.0,-1.0,2,NaN,NaN,NaN,NaN,NaN
593799,9,30,6,WN,854,"Miami, FL","Atlanta, GA",510,505.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
593800,9,30,6,WN,888,"Baltimore, MD","Savannah, GA",1505,1527.0,22.0,1.0,3,NaN,NaN,NaN,NaN,NaN
593801,9,30,6,WN,924,"Atlanta, GA","West Palm Beach/Palm Beach, FL",1055,1058.0,3.0,0.0,3,NaN,NaN,NaN,NaN,NaN
593802,9,30,6,WN,951,"Atlanta, GA","Denver, CO",1510,1511.0,1.0,0.0,5,NaN,NaN,NaN,NaN,NaN

In [39]:
flights_df.describe()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_CARRIER_FL_NUM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DELAY_GROUP,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
count,593803.000000,593803.000000,593803.000000,593803.000000,593803.000000,587287.000000,587287.000000,587287.000000,593803.000000,121231.000000,121231.00000,121231.000000,121231.000000,121231.000000
mean,4.893544,15.837980,3.979845,2110.437495,1345.712629,1344.986775,15.866375,0.213134,3.181274,30.026231,4.26852,12.346479,0.113040,22.934654
std,2.504191,8.772622,1.993397,1342.466807,511.045747,527.795295,52.036827,2.322178,1.892323,79.210780,32.03912,30.364191,3.125093,51.516719
min,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,0.000000,-2.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,3.000000,8.000000,2.000000,1054.000000,910.000000,910.000000,0.000000,-1.000000,2.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,5.000000,16.000000,4.000000,2034.000000,1327.000000,1329.000000,0.000000,-1.000000,3.000000,8.000000,0.00000,0.000000,0.000000,0.000000
75%,7.000000,23.000000,6.000000,2727.000000,1755.000000,1759.000000,10.000000,0.000000,4.000000,29.000000,0.00000,15.000000,0.000000,26.000000
max,9.000000,31.000000,7.000000,9685.000000,2359.000000,2400.000000,3221.000000,12.000000,11.000000,3221.000000,1197.00000,1300.000000,323.000000,2216.000000

In [40]:
flights_df['MKT_UNIQUE_CARRIER'].unique()

array(['AA', 'AS', 'B6', 'DL', 'F9', 'NK', 'UA', 'WN', 'G4'], dtype=object)

In [41]:
#Only look at flights leaving Atlanta on Delta, AA, WN
DL_flights_df = flights_df.loc[(flights_df['ORIGIN_CITY_NAME']=='Atlanta, GA')]
#Seperate the data into features and targets.
X=DL_flights_df[['MONTH','DAY_OF_MONTH','DAY_OF_WEEK','DEST_CITY_NAME','CRS_DEP_TIME','MKT_UNIQUE_CARRIER']]

X=X.reset_index(drop=True)
X

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,DEST_CITY_NAME,CRS_DEP_TIME,MKT_UNIQUE_CARRIER
0,1,1,7,"Dallas/Fort Worth, TX",1817,AA
1,1,1,7,"Miami, FL",602,AA
2,1,1,7,"Washington, DC",1424,AA
3,1,1,7,"Miami, FL",1822,AA
4,1,1,7,"Charlotte, NC",1253,AA
...,...,...,...,...,...,...
280337,9,30,6,"Milwaukee, WI",825,WN
280338,9,30,6,"Phoenix, AZ",1755,WN
280339,9,30,6,"Orlando, FL",1030,WN
280340,9,30,6,"West Palm Beach/Palm Beach, FL",1055,WN
280341,9,30,6,"Denver, CO",1510,WN

In [42]:
dates = []
for row in X.iterrows():
    if len(str(row[1]['DAY_OF_MONTH'])) == 1:
        dates.append(f"0{int(row[1]['MONTH'])}-0{int(row[1]['DAY_OF_MONTH'])}")
    else:
        dates.append(f"0{int(row[1]['MONTH'])}-{int(row[1]['DAY_OF_MONTH'])}")
        
X['Date'] = dates

In [43]:
X=X.drop(['MONTH','DAY_OF_MONTH'],axis = 1)
X

,DAY_OF_WEEK,DEST_CITY_NAME,CRS_DEP_TIME,MKT_UNIQUE_CARRIER,Date
0,7,"Dallas/Fort Worth, TX",1817,AA,01-01
1,7,"Miami, FL",602,AA,01-01
2,7,"Washington, DC",1424,AA,01-01
3,7,"Miami, FL",1822,AA,01-01
4,7,"Charlotte, NC",1253,AA,01-01
...,...,...,...,...,...
280337,6,"Milwaukee, WI",825,WN,09-30
280338,6,"Phoenix, AZ",1755,WN,09-30
280339,6,"Orlando, FL",1030,WN,09-30
280340,6,"West Palm Beach/Palm Beach, FL",1055,WN,09-30
280341,6,"Denver, CO",1510,WN,09-30

In [44]:
X["DAY_OF_WEEK"].unique()

array([7, 1, 2, 3, 4, 5, 6], dtype=int64)

In [45]:
day_of_weeks = []
days_of_the_week = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday', 'Sunday']
for row in X.iterrows():
    day_of_weeks.append(days_of_the_week[row[1]['DAY_OF_WEEK']-1])

In [46]:
X['DAY_OF_WEEK'] = day_of_weeks
X

,DAY_OF_WEEK,DEST_CITY_NAME,CRS_DEP_TIME,MKT_UNIQUE_CARRIER,Date
0,Sunday,"Dallas/Fort Worth, TX",1817,AA,01-01
1,Sunday,"Miami, FL",602,AA,01-01
2,Sunday,"Washington, DC",1424,AA,01-01
3,Sunday,"Miami, FL",1822,AA,01-01
4,Sunday,"Charlotte, NC",1253,AA,01-01
...,...,...,...,...,...
280337,Saturday,"Milwaukee, WI",825,WN,09-30
280338,Saturday,"Phoenix, AZ",1755,WN,09-30
280339,Saturday,"Orlando, FL",1030,WN,09-30
280340,Saturday,"West Palm Beach/Palm Beach, FL",1055,WN,09-30
280341,Saturday,"Denver, CO",1510,WN,09-30

In [47]:
X = pd.get_dummies(X)

In [48]:
X

,CRS_DEP_TIME,DAY_OF_WEEK_Friday,DAY_OF_WEEK_Monday,DAY_OF_WEEK_Saturday,DAY_OF_WEEK_Sunday,DAY_OF_WEEK_Thursday,DAY_OF_WEEK_Tuesday,DAY_OF_WEEK_Wednesday,"DEST_CITY_NAME_Albany, GA","DEST_CITY_NAME_Albany, NY",...,Date_09-21,Date_09-22,Date_09-23,Date_09-24,Date_09-25,Date_09-26,Date_09-27,Date_09-28,Date_09-29,Date_09-30
0,1817,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,602,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1424,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1822,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1253,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280337,825,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
280338,1755,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
280339,1030,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
280340,1055,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
280341,1510,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [49]:
X.to_csv('./predictions/Resources/X.csv')

In [50]:
#Scale the feature data, X
from sklearn.preprocessing import StandardScaler
# Scaling the numeric columns
scaler = StandardScaler()
scaler.fit(X)
transformed_data = scaler.transform(X)
# Creating a DataFrame with with the scaled data
transformed_data_df = pd.DataFrame(transformed_data)

transformed_data_df

,0,1,2,3,4,5,6,7,8,9,...,427,428,429,430,431,432,433,434,435,436
0,0.714998,-0.422606,-0.416191,-0.380501,2.443438,-0.422501,-0.399989,-0.405981,-0.050708,-0.054886,...,-0.060578,-0.0604,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,-0.055277
1,-1.693681,-0.422606,-0.416191,-0.380501,2.443438,-0.422501,-0.399989,-0.405981,-0.050708,-0.054886,...,-0.060578,-0.0604,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,-0.055277
2,-0.064106,-0.422606,-0.416191,-0.380501,2.443438,-0.422501,-0.399989,-0.405981,-0.050708,-0.054886,...,-0.060578,-0.0604,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,-0.055277
3,0.724910,-0.422606,-0.416191,-0.380501,2.443438,-0.422501,-0.399989,-0.405981,-0.050708,-0.054886,...,-0.060578,-0.0604,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,-0.055277
4,-0.403105,-0.422606,-0.416191,-0.380501,2.443438,-0.422501,-0.399989,-0.405981,-0.050708,-0.054886,...,-0.060578,-0.0604,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,-0.055277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280337,-1.251594,-0.422606,-0.416191,2.628114,-0.409259,-0.422501,-0.399989,-0.405981,-0.050708,-0.054886,...,-0.060578,-0.0604,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,18.090587
280338,0.592086,-0.422606,-0.416191,2.628114,-0.409259,-0.422501,-0.399989,-0.405981,-0.050708,-0.054886,...,-0.060578,-0.0604,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,18.090587
280339,-0.845192,-0.422606,-0.416191,2.628114,-0.409259,-0.422501,-0.399989,-0.405981,-0.050708,-0.054886,...,-0.060578,-0.0604,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,18.090587
280340,-0.795630,-0.422606,-0.416191,2.628114,-0.409259,-0.422501,-0.399989,-0.405981,-0.050708,-0.054886,...,-0.060578,-0.0604,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,18.090587
280341,0.106385,-0.422606,-0.416191,2.628114,-0.409259,-0.422501,-0.399989,-0.405981,-0.050708,-0.054886,...,-0.060578,-0.0604,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,18.090587

In [51]:
#Seperate the data into features and targets
is_delayed=DL_flights_df['DEP_DELAY_GROUP'].tolist()
y=[]
#Determine if the flight was delayed using the DEP_DELAY_NEW column and
#convert to boolean values
for i in is_delayed:
    if i < 0:
        y.append(0)
    else:
        y.append(1)
y = pd.DataFrame(y)
y.value_counts()

0    141774
1    138568
dtype: int64

In [52]:
y.to_csv('./predictions/Resources/y.csv')

In [53]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(transformed_data_df, y, random_state=78)

In [54]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=64, activation="tanh", input_dim=437))
nn_model.add(Dropout(0.2))
# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=64, activation="relu"))
# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=64, activation="relu"))
nn_model.add(Dropout(0.2))
# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=64, activation="sigmoid"))
# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=64, activation="sigmoid"))
nn_model.add(Dropout(0.2))
# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                28032

 dropout_3 (Dropout)         (None, 64)                0

 dense_7 (Dense)             (None, 64)                4160

 dense_8 (Dense)             (None, 64)                4160

 dropout_4 (Dropout)         (None, 64)                0

 dense_9 (Dense)             (None, 64)                4160

 dense_10 (Dense)            (None, 64)                4160

 dropout_5 (Dropout)         (None, 64)                0

 dense_11 (Dense)            (None, 1)                 65

=================================================================
Total params: 44737 (174.75 KB)
Trainable params: 44737 (174.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [55]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [56]:
# Train the model
fit_model = nn_model.fit(X_train, y_train, epochs=10)

Epoch 1/10
6571/6571 [==============================] - 7s 956us/step - loss: 0.6294 - accuracy: 0.6451
Epoch 2/10
6571/6571 [==============================] - 6s 941us/step - loss: 0.6128 - accuracy: 0.6626
Epoch 3/10
6571/6571 [==============================] - 6s 943us/step - loss: 0.6062 - accuracy: 0.6691
Epoch 4/10
6571/6571 [==============================] - 6s 927us/step - loss: 0.6015 - accuracy: 0.6745
Epoch 5/10
6571/6571 [==============================] - 6s 915us/step - loss: 0.5970 - accuracy: 0.6777
Epoch 6/10
6571/6571 [==============================] - 6s 914us/step - loss: 0.5942 - accuracy: 0.6799
Epoch 7/10
6571/6571 [==============================] - 6s 913us/step - loss: 0.5910 - accuracy: 0.6834
Epoch 8/10
6571/6571 [==============================] - 6s 910us/step - loss: 0.5877 - accuracy: 0.6853
Epoch 9/10
6571/6571 [==============================] - 6s 907us/step - loss: 0.5856 - accuracy: 0.6885
Epoch 10/10
6571/6571 [==============================] - 6s 909us/step - loss: 0.5838 - accuracy: 0.6896

In [57]:
# Check the model's loss and accuracy 
model_loss, model_accuracy = nn_model.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2191/2191 - 1s - loss: 0.6026 - accuracy: 0.6700 - 1s/epoch - 514us/step
Loss: 0.6026403903961182, Accuracy: 0.6700196862220764

In [58]:
nn_model.save('./predictions/Resources/nn_model.keras')

In [59]:
y_test.value_counts()

0    35486
1    34600
dtype: int64

In [60]:
#Compare the test data to the predictions
predictions = nn_model.predict(X_test).reshape(70086).tolist()
predictions_df = pd.DataFrame({'y_test':y_test[0],'predictions':predictions})

2191/2191 [==============================] - 1s 535us/step

In [61]:
predictions_df.describe()

             y_test   predictions
count  70086.000000  70086.000000
mean       0.493679      0.483974
std        0.499964      0.215646
min        0.000000      0.159892
25%        0.000000      0.300108
50%        0.000000      0.479806
75%        1.000000      0.636982
max        1.000000      0.954172

In [62]:
predictions_df.sort_values(by = 'predictions').tail(50)

        y_test  predictions
74442        1     0.953570
102820       1     0.953570
73660        1     0.953576
228214       1     0.953576
227376       1     0.953588
102380       1     0.953589
102152       1     0.953594
212597       1     0.953597
102148       1     0.953601
233414       1     0.953604
102794       1     0.953650
74416        1     0.953650
228215       1     0.953654
74477        1     0.953675
212577       1     0.953677
74078        1     0.953686
2435         1     0.953693
61577        1     0.953714
74017        1     0.953725
102336       1     0.953726
73979        1     0.953728
228103       1     0.953728
102753       0     0.953729
233493       1     0.953740
61582        1     0.953750
89960        1     0.953750
227548       1     0.953757
102241       1     0.953765
73863        1     0.953765
102393       1     0.953803
228299       1     0.953817
2396         1     0.953819
227715       1     0.953823
74030        1     0.953838
102126       1     0.953872
73856        1     0.953876
227594       1     0.953883
74505        1     0.953884
102885       1     0.953888
102791       1     0.953947
102834       1     0.953950
102752       1     0.953956
102097       1     0.953986
74500        1     0.953995
61596        1     0.953996
212136       1     0.954019
212116       1     0.954061
73975        1     0.954118
61579        1     0.954162
102898       1     0.954172

In [63]:
delayed_predictions = []
for i in predictions:
    if (i >=.5):
        delayed_predictions.append(i)
delayed_predictions

[0.9037230014801025,
 0.5235322713851929,
 0.7050780653953552,
 0.5051313638687134,
 0.6279612183570862,
 0.523289680480957,
 0.9049326181411743,
 0.7419788837432861,
 0.7021300792694092,
 0.8676320314407349,
 0.9025132656097412,
 0.9498350024223328,
 0.5436857342720032,
 0.7356787919998169,
 0.5830093622207642,
 0.5545126795768738,
 0.7888759970664978,
 0.6721972823143005,
 0.5334741473197937,
 0.9521692991256714,
 0.8593934774398804,
 0.8074341416358948,
 0.5424816012382507,
 0.509739875793457,
 0.663175642490387,
 0.9291249513626099,
 0.7756483554840088,
 0.6741408109664917,
 0.52327960729599,
 0.6993818283081055,
 0.5257307291030884,
 0.7371193766593933,
 0.8750987648963928,
 0.6918084621429443,
 0.623211145401001,
 0.5717104077339172,
 0.5630156397819519,
 0.5399131178855896,
 0.6169647574424744,
 0.7787429094314575,
 0.5010929107666016,
 0.9532938003540039,
 0.7533174753189087,
 0.6452177166938782,
 0.8818790316581726,
 0.8675462603569031,
 0.6308680176734924,
 0.6759994626045227,
 0.5037796497344971,
 0.606843113899231,
 0.686924159526825,
 0.5875294804573059,
 0.546265184879303,
 0.5158367156982422,
 0.9009687900543213,
 0.9073436856269836,
 0.6101688146591187,
 0.5626510381698608,
 0.5563504695892334,
 0.5358379483222961,
 0.5693066716194153,
 0.5603858232498169,
 0.6554675698280334,
 0.8291465640068054,
 0.8745394945144653,
 0.630603015422821,
 0.6530051231384277,
 0.6186002492904663,
 0.631200909614563,
 0.8072835803031921,
 0.6739600300788879,
 0.6760025024414062,
 0.7344979047775269,
 0.5075821876525879,
 0.5212022066116333,
 0.6625775098800659,
 0.8960652947425842,
 0.5983497500419617,
 0.5794314742088318,
 0.6530953645706177,
 0.9515901803970337,
 0.6061238050460815,
 0.5540596842765808,
 0.8020279407501221,
 0.8564492464065552,
 0.9340358376502991,
 0.5202513933181763,
 0.634789764881134,
 0.5893234014511108,
 0.7160081267356873,
 0.6186173558235168,
 0.6868950724601746,
 0.6640012860298157,
 0.5616527199745178,
 0.8574385046958923,
 0.5064594149589539,
 0.5064989328384399,
 0.61604243516922,
 0.597478449344635,
 0.7130853533744812,
 0.739092230796814,
 0.5747625827789307,
 0.5521560311317444,
 0.5945386290550232,
 0.5356302857398987,
 0.675708532333374,
 0.9276483058929443,
 0.7976206541061401,
 0.6061936020851135,
 0.5681946277618408,
 0.556174635887146,
 0.8862096071243286,
 0.7129204273223877,
 0.6393885612487793,
 0.5475365519523621,
 0.8725977540016174,
 0.6257331371307373,
 0.662256121635437,
 0.9043506979942322,
 0.6948796510696411,
 0.7020769119262695,
 0.7552789449691772,
 0.7018591165542603,
 0.5897626280784607,
 0.6894677877426147,
 0.5346669554710388,
 0.5015237927436829,
 0.6144386529922485,
 0.6541284322738647,
 0.9111098051071167,
 0.9102673530578613,
 0.796603798866272,
 0.7199002504348755,
 0.753452718257904,
 0.5482598543167114,
 0.62356036901474,
 0.5128073692321777,
 0.9000942707061768,
 0.5244707465171814,
 0.5323723554611206,
 0.7334146499633789,
 0.5152433514595032,
 0.5841103792190552,
 0.5183190107345581,
 0.9492062330245972,
 0.7140616774559021,
 0.5615273118019104,
 0.8044365644454956,
 0.5958957076072693,
 0.8182931542396545,
 0.5317428112030029,
 0.5187164545059204,
 0.9373140931129456,
 0.5003339648246765,
 0.524736762046814,
 0.755805253982544,
 0.7369447946548462,
 0.5720665454864502,
 0.538925051689148,
 0.7125990986824036,
 0.6101505756378174,
 0.5563890337944031,
 0.813812792301178,
 0.5930436253547668,
 0.6784591674804688,
 0.7262780666351318,
 0.9527182579040527,
 0.8678958415985107,
 0.5074776411056519,
 0.6626548767089844,
 0.5071665644645691,
 0.6715319156646729,
 0.6903405785560608,
 0.7122263312339783,
 0.5646110773086548,
 0.7737502455711365,
 0.722653329372406,
 0.6952452063560486,
 0.7210200428962708,
 0.6708598732948303,
 0.7725327610969543,
 0.9104823470115662,
 0.6044057607650757,
 0.7645928859710693,
 0.7536340355873108,
 0.6285711526870728,
 0.5002644062042236,
 0.9139300584793091,
 0.7816831469535828,
 0.7675005197525024,
 0.8867858648300171,
 0.5266432166099548,
 0.8104223608970642,
 0.5520086884498596,
 0.615570068359375,
 0.6232466697692871,
 0.5901250839233398,
 0.8725029826164246,
 0.5939708948135376,
 0.5419372916221619,
 0.6995874643325806,
 0.550568163394928,
 0.6056357622146606,
 0.9252172708511353,
 0.5293279886245728,
 0.829233705997467,
 0.5006968379020691,
 0.6508667469024658,
 0.9422728419303894,
 0.8066012263298035,
 0.5660011768341064,
 0.5817607641220093,
 0.7465745210647583,
 0.9395236372947693,
 0.591153621673584,
 0.532497227191925,
 0.9167909622192383,
 0.7328135371208191,
 0.8155968189239502,
 0.6143015027046204,
 0.5824901461601257,
 0.5793429017066956,
 0.5297425389289856,
 0.6734284162521362,
 0.5354671478271484,
 0.9397943019866943,
 0.7044729590415955,
 0.6591619253158569,
 0.6617662906646729,
 0.6229541897773743,
 0.521156370639801,
 0.554567813873291,
 0.5284834504127502,
 0.7346575260162354,
 0.7831669449806213,
 0.6499218344688416,
 0.590255856513977,
 0.8145706057548523,
 0.5398810505867004,
 0.6264946460723877,
 0.6869328022003174,
 0.7251386642456055,
 0.5582970976829529,
 0.694004476070404,
 0.545789897441864,
 0.7070757746696472,
 0.6171436309814453,
 0.6000425815582275,
 0.6750198602676392,
 0.5093158483505249,
 0.5808911919593811,
 0.5781866312026978,
 0.6341269016265869,
 0.553020179271698,
 0.763124942779541,
 0.5520360469818115,
 0.5694676041603088,
 0.7948439717292786,
 0.6739301085472107,
 0.665273129940033,
 0.712104320526123,
 0.6594752073287964,
 0.6715734004974365,
 0.5091208815574646,
 0.7159971594810486,
 0.6591305732727051,
 0.6650580763816833,
 0.8896828889846802,
 0.5517579913139343,
 0.5368870496749878,
 0.7185242176055908,
 0.5848240256309509,
 0.6398171186447144,
 0.5099791288375854,
 0.5876023769378662,
 0.9441647529602051,
 0.603588342666626,
 0.5525080561637878,
 0.5178149938583374,
 0.5712399482727051,
 0.5233978629112244,
 0.6751583814620972,
 0.6677954792976379,
 0.8105083107948303,
 0.5092111229896545,
 0.5185694694519043,
 0.6076850891113281,
 0.8109092712402344,
 0.6457850337028503,
 0.6496205925941467,
 0.9531222581863403,
 0.5417630076408386,
 0.5829342603683472,
 0.848311722278595,
 0.803396463394165,
 0.8037219643592834,
 0.5535041689872742,
 0.6793524622917175,
 0.5296794176101685,
 0.8719496726989746,
 0.5673536658287048,
 0.7175776362419128,
 0.8437191247940063,
 0.7191207408905029,
 0.9119218587875366,
 0.9514018893241882,
 0.6129631400108337,
 0.9468307495117188,
 0.5300581455230713,
 0.9128034710884094,
 0.7108475565910339,
 0.5032840371131897,
 0.9091776609420776,
 0.5431078672409058,
 0.5495800375938416,
 0.6402125954627991,
 0.7695343494415283,
 0.6889761090278625,
 0.5580414533615112,
 0.7207881808280945,
 0.710295557975769,
 0.5292223691940308,
 0.5483605265617371,
 0.7877686023712158,
 0.5759412050247192,
 0.7175263166427612,
 0.677812397480011,
 0.6280443668365479,
 0.7301151752471924,
 0.6120871305465698,
 0.7721858620643616,
 0.5226284861564636,
 0.5183405876159668,
 0.8335691690444946,
 0.611621618270874,
 0.9211157560348511,
 0.8257916569709778,
 0.6692526936531067,
 0.508026659488678,
 0.5442399978637695,
 0.587350606918335,
 0.5596008896827698,
 0.8884157538414001,
 0.7064138054847717,
 0.812220573425293,
 0.828727126121521,
 0.6450251340866089,
 0.514072597026825,
 0.5623887181282043,
 0.6583008170127869,
 0.5307187438011169,
 0.8015542030334473,
 0.624226987361908,
 0.7973459362983704,
 0.5963506698608398,
 0.9155184030532837,
 0.6265401244163513,
 0.6315518021583557,
 0.5500714778900146,
 0.6834710240364075,
 0.7431979179382324,
 0.7819443345069885,
 0.6559241414070129,
 0.5145540237426758,
 0.9517874121665955,
 0.5452632308006287,
 0.564744770526886,
 0.909944474697113,
 0.5042060613632202,
 0.920242190361023,
 0.5105118751525879,
 0.5119419693946838,
 0.5441277027130127,
 0.9059852957725525,
 0.7472828030586243,
 0.613544225692749,
 0.55800861120224,
 0.7246760725975037,
 0.5317027568817139,
 0.7713043093681335,
 0.8191859722137451,
 0.6707202196121216,
 0.6547918319702148,
 0.7643202543258667,
 0.5710875391960144,
 0.6095650792121887,
 0.9411463737487793,
 0.6109989881515503,
 0.6380627751350403,
 0.5129387378692627,
 0.8281083106994629,
 0.7531248927116394,
 0.9286693334579468,
 0.7173758149147034,
 0.689548671245575,
 0.8150259256362915,
 0.5063283443450928,
 0.9292685985565186,
 0.557033896446228,
 0.5601116418838501,
 0.9073631763458252,
 0.6574312448501587,
 0.5536567568778992,
 0.7773829102516174,
 0.5676481127738953,
 0.5357373356819153,
 0.5929651260375977,
 0.505431592464447,
 0.8406884074211121,
 0.8620848655700684,
 0.5217783451080322,
 0.8973729014396667,
 0.7854291796684265,
 0.636461079120636,
 0.7330896258354187,
 0.7070308327674866,
 0.9538384675979614,
 0.7157620787620544,
 0.5387148857116699,
 0.6646384000778198,
 0.7347963452339172,
 0.727817952632904,
 0.580065906047821,
 0.5895498991012573,
 0.5227680802345276,
 0.810055136680603,
 0.9454241991043091,
 0.5395103693008423,
 0.723080575466156,
 0.716273307800293,
 0.5570549964904785,
 0.5510821342468262,
 0.8019315600395203,
 0.593449592590332,
 0.6214784979820251,
 0.6041887402534485,
 0.6828281283378601,
 0.9449286460876465,
 0.760400116443634,
 0.7255594730377197,
 0.6666033864021301,
 0.7444221377372742,
 0.5201424360275269,
 0.7966158390045166,
 0.8709663152694702,
 0.5413868427276611,
 0.5663435459136963,
 0.6849746704101562,
 0.5822862982749939,
 0.7631807327270508,
 0.8081541061401367,
 0.6026663184165955,
 0.6797467470169067,
 0.7086014747619629,
 0.569950520992279,
 0.682941198348999,
 0.5765811800956726,
 0.7530134320259094,
 0.5712122917175293,
 0.5288258790969849,
 0.6735036969184875,
 0.6562137007713318,
 0.5419057011604309,
 0.7159774303436279,
 0.917592465877533,
 0.5242438316345215,
 0.6443430781364441,
 0.7146116495132446,
 0.7751208543777466,
 0.677678108215332,
 0.5115965008735657,
 0.696820855140686,
 0.6343926191329956,
 0.8112788796424866,
 0.6079399585723877,
 0.7414636015892029,
 0.8084753751754761,
 0.6042501926422119,
 0.5671818852424622,
 0.9452113509178162,
 0.9183249473571777,
 0.5527799129486084,
 0.6910052299499512,
 0.8222089409828186,
 0.5300198197364807,
 0.9129299521446228,
 0.8616780638694763,
 0.535136878490448,
 0.6551735401153564,
 0.7178267240524292,
 0.5924521684646606,
 0.5815113186836243,
 0.7683277130126953,
 0.5696550607681274,
 0.7141278982162476,
 0.7578351497650146,
 0.504797637462616,
 0.5904391407966614,
 0.761699914932251,
 0.5497987866401672,
 0.5825272798538208,
 0.7691866755485535,
 0.5985389351844788,
 0.5746484398841858,
 0.5168031454086304,
 0.6463759541511536,
 0.9460533857345581,
 0.5619457960128784,
 0.6912593841552734,
 0.6845120787620544,
 0.5541939735412598,
 0.7746400237083435,
 0.6925411820411682,
 0.6640548706054688,
 0.8178948760032654,
 0.770990788936615,
 0.5298150777816772,
 0.8306886553764343,
 0.6112479567527771,
 0.660487711429596,
 0.5022231936454773,
 0.8131967186927795,
 0.5267708897590637,
 0.6198219656944275,
 0.8398021459579468,
 0.9132022857666016,
 0.7811457514762878,
 0.5108901262283325,
 0.7039217948913574,
 0.5199273228645325,
 0.8527984023094177,
 0.7143064141273499,
 0.6485938429832458,
 0.7440347075462341,
 0.9197260141372681,
 0.8548575639724731,
 0.6147294044494629,
 0.6266119480133057,
 0.6208392381668091,
 0.6077994108200073,
 0.5465061664581299,
 0.7765436172485352,
 0.6852334141731262,
 0.5746864676475525,
 0.806591272354126,
 0.6027752757072449,
 0.6266807317733765,
 0.5798431634902954,
 0.5255928635597229,
 0.8215170502662659,
 0.5944943428039551,
 0.5351135730743408,
 0.5780007243156433,
 0.9117948412895203,
 0.6852275133132935,
 0.93715900182724,
 0.7894812822341919,
 0.6081051826477051,
 0.910119354724884,
 0.8176683187484741,
 0.7670642137527466,
 0.5044465065002441,
 0.724947988986969,
 0.6068851351737976,
 0.7344753742218018,
 0.5238673090934753,
 0.8242416381835938,
 0.707878053188324,
 0.6211389303207397,
 0.7109543681144714,
 0.6644180417060852,
 0.6252232193946838,
 0.872184693813324,
 0.5048437118530273,
 0.5237363576889038,
 0.874763011932373,
 0.7373222708702087,
 0.8213897347450256,
 0.5240635871887207,
 0.5613042116165161,
 0.5618671774864197,
 0.6740172505378723,
 0.523720920085907,
 0.5536823868751526,
 0.8340254426002502,
 0.6067647933959961,
 0.5394185185432434,
 0.8807232975959778,
 0.6457989811897278,
 0.550621747970581,
 0.8092711567878723,
 0.6492363810539246,
 0.6668741703033447,
 0.8889611959457397,
 0.9438008666038513,
 0.509319007396698,
 0.9446907043457031,
 0.6816820502281189,
 0.5125195384025574,
 0.8592652678489685,
 0.6598086953163147,
 0.5757693648338318,
 0.7070357203483582,
 0.9487313628196716,
 0.7081900835037231,
 0.6736421585083008,
 0.7771620154380798,
 0.7287169694900513,
 0.8251792192459106,
 0.5103532075881958,
 0.720508337020874,
 0.9114702343940735,
 0.8207545876502991,
 0.562592625617981,
 0.830753743648529,
 0.9528967142105103,
 0.7961173057556152,
 0.5186010003089905,
 0.9041099548339844,
 0.7897868752479553,
 0.5331951379776001,
 0.8965403437614441,
 0.6768116354942322,
 0.5318489074707031,
 0.5017749667167664,
 0.6954724788665771,
 0.6087716817855835,
 0.6258328557014465,
 0.5138930678367615,
 0.6440586447715759,
 0.7428885102272034,
 0.5254659056663513,
 0.5481693744659424,
 0.9444566965103149,
 0.6096591949462891,
 0.8223767280578613,
 0.6459305286407471,
 0.5006837248802185,
 0.5326582193374634,
 0.7003101706504822,
 0.853566586971283,
 0.8660326600074768,
 0.8052082657814026,
 0.9522046446800232,
 0.9387853145599365,
 0.9448347091674805,
 0.8878111243247986,
 0.5764580368995667,
 0.554192841053009,
 0.5595564842224121,
 0.5029751062393188,
 0.8395206928253174,
 0.9326148629188538,
 0.52828449010849,
 0.6506635546684265,
 0.6239004135131836,
 0.6515107750892639,
 0.514289140701294,
 0.6705363392829895,
 0.6298558712005615,
 0.622503399848938,
 0.7164211273193359,
 0.9399160742759705,
 0.5261234045028687,
 0.7538262605667114,
 0.6604662537574768,
 0.5197474956512451,
 0.547621488571167,
 0.7712293267250061,
 0.5541207194328308,
 0.6820525527000427,
 0.7393518686294556,
 0.6791662573814392,
 0.5752533674240112,
 0.9297377467155457,
 0.8854804039001465,
 0.6003704071044922,
 0.6864211559295654,
 0.8372187614440918,
 0.6635254621505737,
 0.5884125232696533,
 0.9528437256813049,
 0.8062347769737244,
 0.5487699508666992,
 0.5749001502990723,
 0.9294149279594421,
 0.5262516736984253,
 0.5393428206443787,
 0.5447222590446472,
 0.5850639939308167,
 0.5438417196273804,
 0.6861572861671448,
 0.5037174224853516,
 0.7380589842796326,
 0.9372355937957764,
 0.8986068964004517,
 0.7236424088478088,
 0.6229626536369324,
 0.861879825592041,
 0.5805214643478394,
 0.8277461528778076,
 0.8364943861961365,
 0.6226338744163513,
 0.5587781667709351,
 0.725895345211029,
 0.5471292734146118,
 0.5749253034591675,
 0.5501309633255005,
 0.8392763733863831,
 0.7139184474945068,
 0.6314656734466553,
 0.6882584691047668,
 0.6466681957244873,
 0.8010244369506836,
 0.5088295936584473,
 0.7143824100494385,
 0.7713994383811951,
 0.5387813448905945,
 0.8061692118644714,
 0.7610199451446533,
 0.698273241519928,
 0.517973780632019,
 0.5281153917312622,
 0.5077364444732666,
 0.8077436089515686,
 0.8097339868545532,
 0.6808648705482483,
 0.8370922207832336,
 0.5452619791030884,
 0.5010186433792114,
 0.7197534441947937,
 0.7151527404785156,
 0.797813355922699,
 0.7067635655403137,
 0.6779497861862183,
 0.5330670475959778,
 0.5156700015068054,
 0.5206090807914734,
 0.6259480118751526,
 0.6671602725982666,
 0.5436831712722778,
 0.6184853911399841,
 0.5105066895484924,
 0.7516527771949768,
 0.5612502694129944,
 0.6289217472076416,
 0.5199540257453918,
 0.7379571795463562,
 0.66879802942276,
 0.5798527598381042,
 0.6873195767402649,
 0.8866979479789734,
 0.947001039981842,
 0.6625380516052246,
 0.5014944076538086,
 0.5782200694084167,
 0.5766975283622742,
 0.5680931210517883,
 0.7905439734458923,
 0.636681318283081,
 0.6793074607849121,
 0.8023638129234314,
 0.6096903085708618,
 0.5441581606864929,
 0.8291498422622681,
 0.8959602117538452,
 0.5069394111633301,
 0.5851652026176453,
 0.9380103349685669,
 0.6923808455467224,
 0.6268024444580078,
 0.690349280834198,
 0.6928507089614868,
 0.8014630675315857,
 0.5568825602531433,
 0.5677841305732727,
 0.7615475654602051,
 0.6991820931434631,
 0.7519621849060059,
 0.534390389919281,
 0.8000381588935852,
 0.6322157382965088,
 0.6281669735908508,
 0.7648735642433167,
 0.6746353507041931,
 0.5615988969802856,
 0.6534385085105896,
 0.7009902596473694,
 0.6371089220046997,
 0.8079710602760315,
 0.8144353032112122,
 0.6126949191093445,
 0.5907511115074158,
 0.7960230708122253,
 0.6110737323760986,
 0.5153095722198486,
 0.7743898630142212,
 0.6929817199707031,
 0.5657879114151001,
 0.7228761315345764,
 0.7289421558380127,
 0.6038599610328674,
 0.5280168652534485,
 0.6503950357437134,
 0.7714417576789856,
 0.5385517477989197,
 0.6909475922584534,
 0.6827651858329773,
 0.6225737929344177,
 0.7006731033325195,
 0.7299327254295349,
 0.9428449273109436,
 0.6770824193954468,
 0.9051989316940308,
 0.6235398650169373,
 0.8219530582427979,
 0.9156602621078491,
 0.5672642588615417,
 0.629516065120697,
 0.9510634541511536,
 0.667133629322052,
 0.5245863795280457,
 0.6931648254394531,
 0.6157750487327576,
 0.713678240776062,
 0.7793339490890503,
 0.5867159962654114,
 0.5170465111732483,
 0.907380998134613,
 0.761999249458313,
 0.5953272581100464,
 0.5315273404121399,
 0.6858280301094055,
 0.7014691233634949,
 0.7800002098083496,
 0.6034253835678101,
 0.6437162756919861,
 0.6469213366508484,
 0.684487521648407,
 0.7594027519226074,
 0.8379736542701721,
 0.9472904205322266,
 0.6502494812011719,
 0.6083799004554749,
 0.6719191074371338,
 0.5530098676681519,
 0.653306245803833,
 0.7560603022575378,
 0.7495900988578796,
 0.5165444612503052,
 0.7044962048530579,
 0.5959349870681763,
 0.5770059823989868,
 0.9525849223136902,
 0.645883321762085,
 0.6275501251220703,
 0.8668244481086731,
 0.666287362575531,
 0.5614655613899231,
 0.7389917373657227,
 0.7008827924728394,
 0.5271831154823303,
 0.6892789006233215,
 0.9475226402282715,
 0.5381302833557129,
 0.9509959816932678,
 0.5012171864509583,
 0.8255493640899658,
 0.621674120426178,
 0.9040709733963013,
 0.9535273313522339,
 0.8328414559364319,
 0.8918775916099548,
 0.7139221429824829,
 0.8062736988067627,
 0.5405676960945129,
 0.7061354517936707,
 0.7760574221611023,
 0.9538878798484802,
 0.8109242916107178,
 0.5056034922599792,
 0.6166601181030273,
 0.570997953414917,
 0.6166703104972839,
 0.5131458044052124,
 0.5468544363975525,
 0.8103402853012085,
 0.544416069984436,
 0.5664222836494446,
 0.7054933309555054,
 0.9536502957344055,
 0.9471212029457092,
 0.5919893980026245,
 0.8276114463806152,
 0.5032899975776672,
 0.5649098753929138,
 0.527828574180603,
 0.6386746168136597,
 0.8032333254814148,
 0.507568895816803,
 0.861453115940094,
 0.6989620923995972,
 0.6896249651908875,
 0.9139300584793091,
 0.782485842704773,
 0.5031509399414062,
 0.8459705114364624,
 0.7361509799957275,
 0.7415081858634949,
 0.9241528511047363,
 0.5680828094482422,
 0.6761314868927002,
 0.5219090580940247,
 0.5161598324775696,
 0.6597058176994324,
 0.5004118084907532,
 0.5512182712554932,
 0.6552506685256958,
 0.6247201561927795,
 0.8382067084312439,
 0.6350061893463135,
 0.9178593158721924,
 0.5997294187545776,
 0.8913280963897705,
 0.8926319479942322,
 0.7189292907714844,
 0.9489670395851135,
 0.8495405912399292,
 0.5666420459747314,
 0.5865557193756104,
 0.7213980555534363,
 0.7313166856765747,
 0.7400092482566833,
 0.659602165222168,
 0.9145177602767944,
 0.795564591884613,
 0.7308048605918884,
 0.5831807851791382,
 0.696088969707489,
 0.7608265280723572,
 0.7642034292221069,
 0.5693977475166321,
 0.6693722605705261,
 0.951880931854248,
 0.7043392658233643,
 0.7010440230369568,
 0.5267265439033508,
 0.5382457375526428,
 0.7085809111595154,
 0.6942936778068542,
 0.7896831631660461,
 0.7781012058258057,
 0.950875997543335,
 0.5895076394081116,
 0.5443899035453796,
 0.7264138460159302,
 0.5963168740272522,
 0.5288456678390503,

In [64]:
len(delayed_predictions)

31801

## LogisticRegression

In [65]:

from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

from sklearn.linear_model import LogisticRegression

In [66]:
model = LogisticRegression(random_state=1)

# Fit the model using training data
model.fit(X_train, y_train)

C:\Users\Matt\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(random_state=1)

In [67]:
model.score(X_train, y_train)

0.660575679172057

In [68]:
# Make a prediction using the testing data
predictions = model.predict(X_test)
predictions

array([0, 1, 1, ..., 0, 1, 1], dtype=int64)

In [69]:
# Print the balanced_accuracy score of the model
balanced_accuracy_score(y_test,predictions)

0.6605722789317875

In [70]:
# Generate a confusion matrix for the model
confusion_matrix(y_test,predictions)

array([[23967, 11519],
       [12257, 22343]], dtype=int64)

In [71]:
# Print the classification report for the model
tn, fp, fn, tp = confusion_matrix(y_test, predictions).ravel()
accuracy = (tp + tn) / (tp + fp + tn + fn)
accuracy

0.6607596381588334