In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from keras.layers import Dense, Dropout

WARNING:tensorflow:From C:\Users\Matt\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
flights_df=pd.read_csv('./Resources/Atlanta_Flight_Status.csv').drop('Unnamed: 0',axis=1)

flights_df

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DELAY_GROUP,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1,1,7,AA,1006,"Miami, FL","Atlanta, GA",2100,2058.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
1,1,1,7,AA,1045,"Miami, FL","Atlanta, GA",1925,1922.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
2,1,1,7,AA,1051,"Atlanta, GA","Dallas/Fort Worth, TX",1817,1816.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
3,1,1,7,AA,1051,"Dallas/Fort Worth, TX","Atlanta, GA",1425,1420.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
4,1,1,7,AA,1151,"Atlanta, GA","Miami, FL",602,553.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593798,9,30,6,WN,778,"Indianapolis, IN","Atlanta, GA",810,806.0,0.0,-1.0,2,NaN,NaN,NaN,NaN,NaN
593799,9,30,6,WN,854,"Miami, FL","Atlanta, GA",510,505.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
593800,9,30,6,WN,888,"Baltimore, MD","Savannah, GA",1505,1527.0,22.0,1.0,3,NaN,NaN,NaN,NaN,NaN
593801,9,30,6,WN,924,"Atlanta, GA","West Palm Beach/Palm Beach, FL",1055,1058.0,3.0,0.0,3,NaN,NaN,NaN,NaN,NaN
593802,9,30,6,WN,951,"Atlanta, GA","Denver, CO",1510,1511.0,1.0,0.0,5,NaN,NaN,NaN,NaN,NaN

In [3]:
flights_df.describe()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_CARRIER_FL_NUM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DELAY_GROUP,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
count,593803.000000,593803.000000,593803.000000,593803.000000,593803.000000,587287.000000,587287.000000,587287.000000,593803.000000,121231.000000,121231.00000,121231.000000,121231.000000,121231.000000
mean,4.893544,15.837980,3.979845,2110.437495,1345.712629,1344.986775,15.866375,0.213134,3.181274,30.026231,4.26852,12.346479,0.113040,22.934654
std,2.504191,8.772622,1.993397,1342.466807,511.045747,527.795295,52.036827,2.322178,1.892323,79.210780,32.03912,30.364191,3.125093,51.516719
min,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,0.000000,-2.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,3.000000,8.000000,2.000000,1054.000000,910.000000,910.000000,0.000000,-1.000000,2.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,5.000000,16.000000,4.000000,2034.000000,1327.000000,1329.000000,0.000000,-1.000000,3.000000,8.000000,0.00000,0.000000,0.000000,0.000000
75%,7.000000,23.000000,6.000000,2727.000000,1755.000000,1759.000000,10.000000,0.000000,4.000000,29.000000,0.00000,15.000000,0.000000,26.000000
max,9.000000,31.000000,7.000000,9685.000000,2359.000000,2400.000000,3221.000000,12.000000,11.000000,3221.000000,1197.00000,1300.000000,323.000000,2216.000000

In [4]:
flights_df['MKT_UNIQUE_CARRIER'].unique()

array(['AA', 'AS', 'B6', 'DL', 'F9', 'NK', 'UA', 'WN', 'G4'], dtype=object)

In [5]:
#Only look at flights leaving Atlanta on Delta, AA, WN
DL_flights_df = flights_df.loc[(flights_df['ORIGIN_CITY_NAME']=='Atlanta, GA')]
#Seperate the data into features and targets.
X=DL_flights_df[['MONTH','DAY_OF_MONTH','DAY_OF_WEEK','DEST_CITY_NAME','CRS_DEP_TIME','MKT_UNIQUE_CARRIER']]

X=X.reset_index(drop=True)
X

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,DEST_CITY_NAME,CRS_DEP_TIME,MKT_UNIQUE_CARRIER
0,1,1,7,"Dallas/Fort Worth, TX",1817,AA
1,1,1,7,"Miami, FL",602,AA
2,1,1,7,"Washington, DC",1424,AA
3,1,1,7,"Miami, FL",1822,AA
4,1,1,7,"Charlotte, NC",1253,AA
...,...,...,...,...,...,...
280337,9,30,6,"Milwaukee, WI",825,WN
280338,9,30,6,"Phoenix, AZ",1755,WN
280339,9,30,6,"Orlando, FL",1030,WN
280340,9,30,6,"West Palm Beach/Palm Beach, FL",1055,WN
280341,9,30,6,"Denver, CO",1510,WN

In [6]:
dates = []
for row in X.iterrows():
    if len(str(row[1]['DAY_OF_MONTH'])) == 1:
        dates.append(f"0{int(row[1]['MONTH'])}-0{int(row[1]['DAY_OF_MONTH'])}")
    else:
        dates.append(f"0{int(row[1]['MONTH'])}-{int(row[1]['DAY_OF_MONTH'])}")
        
X['Date'] = dates

In [7]:
X=X.drop(['MONTH','DAY_OF_MONTH'],axis = 1)
X

,DAY_OF_WEEK,DEST_CITY_NAME,CRS_DEP_TIME,MKT_UNIQUE_CARRIER,Date
0,7,"Dallas/Fort Worth, TX",1817,AA,01-01
1,7,"Miami, FL",602,AA,01-01
2,7,"Washington, DC",1424,AA,01-01
3,7,"Miami, FL",1822,AA,01-01
4,7,"Charlotte, NC",1253,AA,01-01
...,...,...,...,...,...
280337,6,"Milwaukee, WI",825,WN,09-30
280338,6,"Phoenix, AZ",1755,WN,09-30
280339,6,"Orlando, FL",1030,WN,09-30
280340,6,"West Palm Beach/Palm Beach, FL",1055,WN,09-30
280341,6,"Denver, CO",1510,WN,09-30

In [8]:
X["DAY_OF_WEEK"].unique()

array([7, 1, 2, 3, 4, 5, 6], dtype=int64)

In [9]:
day_of_weeks = []
days_of_the_week = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday', 'Sunday']
for row in X.iterrows():
    day_of_weeks.append(days_of_the_week[row[1]['DAY_OF_WEEK']-1])

In [10]:
X['DAY_OF_WEEK'] = day_of_weeks
X

,DAY_OF_WEEK,DEST_CITY_NAME,CRS_DEP_TIME,MKT_UNIQUE_CARRIER,Date
0,Sunday,"Dallas/Fort Worth, TX",1817,AA,01-01
1,Sunday,"Miami, FL",602,AA,01-01
2,Sunday,"Washington, DC",1424,AA,01-01
3,Sunday,"Miami, FL",1822,AA,01-01
4,Sunday,"Charlotte, NC",1253,AA,01-01
...,...,...,...,...,...
280337,Saturday,"Milwaukee, WI",825,WN,09-30
280338,Saturday,"Phoenix, AZ",1755,WN,09-30
280339,Saturday,"Orlando, FL",1030,WN,09-30
280340,Saturday,"West Palm Beach/Palm Beach, FL",1055,WN,09-30
280341,Saturday,"Denver, CO",1510,WN,09-30

In [11]:
X = pd.get_dummies(X)

In [12]:
X

,CRS_DEP_TIME,DAY_OF_WEEK_Friday,DAY_OF_WEEK_Monday,DAY_OF_WEEK_Saturday,DAY_OF_WEEK_Sunday,DAY_OF_WEEK_Thursday,DAY_OF_WEEK_Tuesday,DAY_OF_WEEK_Wednesday,"DEST_CITY_NAME_Albany, GA","DEST_CITY_NAME_Albany, NY",...,Date_09-21,Date_09-22,Date_09-23,Date_09-24,Date_09-25,Date_09-26,Date_09-27,Date_09-28,Date_09-29,Date_09-30
0,1817,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,602,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1424,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1822,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1253,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280337,825,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
280338,1755,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
280339,1030,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
280340,1055,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
280341,1510,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [41]:
testing = pd.concat([X,X.tail(1)])
testing

,CRS_DEP_TIME,DAY_OF_WEEK_Friday,DAY_OF_WEEK_Monday,DAY_OF_WEEK_Saturday,DAY_OF_WEEK_Sunday,DAY_OF_WEEK_Thursday,DAY_OF_WEEK_Tuesday,DAY_OF_WEEK_Wednesday,"DEST_CITY_NAME_Albany, GA","DEST_CITY_NAME_Albany, NY",...,Date_09-21,Date_09-22,Date_09-23,Date_09-24,Date_09-25,Date_09-26,Date_09-27,Date_09-28,Date_09-29,Date_09-30
0,1817,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,602,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1424,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1822,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1253,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280338,1755,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
280339,1030,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
280340,1055,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
280341,1510,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
280341,1510,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [13]:
X.to_csv('./predictions/Resources/X.csv')

In [39]:
#Scale the feature data, X
from sklearn.preprocessing import StandardScaler
# Scaling the numeric columns
scaler = StandardScaler()
scaler.fit(testing)
transformed_data = scaler.transform(testing)
# Creating a DataFrame with with the scaled data
transformed_data_df = pd.DataFrame(transformed_data)

transformed_data_df

,0,1,2,3,4,5,6,7,8,9,...,427,428,429,430,431,432,433,434,435,436
0,0.714999,-0.422605,-0.41619,-0.380506,2.443443,-0.4225,-0.399988,-0.40598,-0.050708,-0.054886,...,-0.060578,-0.060399,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,-0.055310
1,-1.693684,-0.422605,-0.41619,-0.380506,2.443443,-0.4225,-0.399988,-0.40598,-0.050708,-0.054886,...,-0.060578,-0.060399,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,-0.055310
2,-0.064106,-0.422605,-0.41619,-0.380506,2.443443,-0.4225,-0.399988,-0.40598,-0.050708,-0.054886,...,-0.060578,-0.060399,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,-0.055310
3,0.724911,-0.422605,-0.41619,-0.380506,2.443443,-0.4225,-0.399988,-0.40598,-0.050708,-0.054886,...,-0.060578,-0.060399,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,-0.055310
4,-0.403106,-0.422605,-0.41619,-0.380506,2.443443,-0.4225,-0.399988,-0.40598,-0.050708,-0.054886,...,-0.060578,-0.060399,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,-0.055310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280338,0.592086,-0.422605,-0.41619,2.628076,-0.409259,-0.4225,-0.399988,-0.40598,-0.050708,-0.054886,...,-0.060578,-0.060399,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,18.080004
280339,-0.845194,-0.422605,-0.41619,2.628076,-0.409259,-0.4225,-0.399988,-0.40598,-0.050708,-0.054886,...,-0.060578,-0.060399,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,18.080004
280340,-0.795632,-0.422605,-0.41619,2.628076,-0.409259,-0.4225,-0.399988,-0.40598,-0.050708,-0.054886,...,-0.060578,-0.060399,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,18.080004
280341,0.106385,-0.422605,-0.41619,2.628076,-0.409259,-0.4225,-0.399988,-0.40598,-0.050708,-0.054886,...,-0.060578,-0.060399,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,18.080004
280342,0.106385,-0.422605,-0.41619,2.628076,-0.409259,-0.4225,-0.399988,-0.40598,-0.050708,-0.054886,...,-0.060578,-0.060399,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,18.080004

In [40]:
transformed_data_df.tail(1)

,0,1,2,3,4,5,6,7,8,9,...,427,428,429,430,431,432,433,434,435,436
280342,0.106385,-0.422605,-0.41619,2.628076,-0.409259,-0.4225,-0.399988,-0.40598,-0.050708,-0.054886,...,-0.060578,-0.060399,-0.05531,-0.060191,-0.060518,-0.057505,-0.057661,-0.060637,-0.06037,18.080004

In [15]:
#Seperate the data into features and targets
is_delayed=DL_flights_df['DEP_DELAY_GROUP'].tolist()
y=[]
#Determine if the flight was delayed using the DEP_DELAY_NEW column and
#convert to boolean values
for i in is_delayed:
    if i <= 0:
        y.append(0)
    else:
        y.append(1)
y = pd.DataFrame(y)
y.value_counts()

0    212161
1     68181
dtype: int64

In [16]:
y.to_csv('./predictions/Resources/y.csv')

In [17]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(transformed_data_df, y, random_state=78)

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=64, activation="tanh", input_dim=437))
nn_model.add(Dropout(0.2))
# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=64, activation="relu"))
# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=64, activation="relu"))
nn_model.add(Dropout(0.2))
# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=64, activation="sigmoid"))
# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=64, activation="sigmoid"))
nn_model.add(Dropout(0.2))
# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

WARNING:tensorflow:From C:\Users\Matt\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                28032

 dropout (Dropout)           (None, 64)                0

 dense_1 (Dense)             (None, 64)                4160

 dense_2 (Dense)             (None, 64)                4160

 dropout_1 (Dropout)         (None, 64)                0

 dense_3 (Dense)             (None, 64)                4160

 dense_4 (Dense)             (None, 64)                4160

 dropout_2 (Dropout)         (None, 64)                0

 dense_5 (Dense)             (None, 1)                 65

=================================================================
Total params: 44737 (174.75 KB)
Trainable params: 44737 (174.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\Matt\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [20]:
# Train the model
fit_model = nn_model.fit(X_train, y_train, epochs=10)

Epoch 1/10
WARNING:tensorflow:From C:\Users\Matt\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\Matt\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

6571/6571 [==============================] - 7s 988us/step - loss: 0.4969 - accuracy: 0.7757
Epoch 2/10
6571/6571 [==============================] - 6s 968us/step - loss: 0.4794 - accuracy: 0.7865
Epoch 3/10
6571/6571 [==============================] - 6s 915us/step - loss: 0.4727 - accuracy: 0.7903
Epoch 4/10
6571/6571 [==============================] - 6s 895us/step - loss: 0.4676 - accuracy: 0.7927
Epoch 5/10
6571/6571 [==============================] - 6s 893us/step - loss: 0.4635 - accuracy: 0.7950
Epoch 6/10
6571/6571 [==============================] - 6s 895us/step - loss: 0.4603 - accuracy: 0.7966
Epoch 7/10
6571/6571 [==============================] - 6s 903us/step - loss: 0.4575 - accuracy: 0.7976
Epoch 8/10
6571/6571 [==============================] - 6s 911us/step - loss: 0.4548 - accuracy: 0.7991
Epoch 9/10
6571/6571 [==============================] - 6s 899us/step - loss: 0.4528 - accuracy: 0.8004
Epoch 10/10
6571/6571 [==============================] - 6s 906us/step - loss: 0.4510 - accuracy: 0.8006

In [21]:
# Check the model's loss and accuracy 
model_loss, model_accuracy = nn_model.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2191/2191 - 1s - loss: 0.4697 - accuracy: 0.7937 - 1s/epoch - 563us/step
Loss: 0.46974867582321167, Accuracy: 0.7936820387840271

In [22]:
nn_model.save('./predictions/Resources/nn_model.keras')

In [23]:
y_test.value_counts()

0    53157
1    16929
dtype: int64

In [24]:
#Compare the test data to the predictions
predictions = nn_model.predict(X_test).reshape(70086).tolist()
predictions_df = pd.DataFrame({'y_test':y_test[0],'predictions':predictions})

2191/2191 [==============================] - 1s 561us/step

In [25]:
predictions_df.describe()

             y_test   predictions
count  70086.000000  70086.000000
mean       0.241546      0.228895
std        0.428024      0.201429
min        0.000000      0.055682
25%        0.000000      0.077609
50%        0.000000      0.146956
75%        0.000000      0.326862
max        1.000000      0.908992

In [26]:
predictions_df.sort_values(by = 'predictions').tail(50)

        y_test  predictions
227509       1     0.908310
227764       1     0.908321
2369         1     0.908327
212577       1     0.908328
227843       1     0.908335
227376       1     0.908340
227752       1     0.908346
187762       1     0.908349
227908       1     0.908352
234012       0     0.908402
227498       1     0.908410
227674       0     0.908412
227664       1     0.908428
227469       1     0.908431
227821       1     0.908437
187648       1     0.908441
187311       1     0.908460
228062       1     0.908475
227968       1     0.908485
227855       1     0.908486
227381       1     0.908496
227693       1     0.908515
228293       1     0.908518
227605       1     0.908526
211582       0     0.908529
233582       1     0.908529
227687       1     0.908576
211545       1     0.908586
227640       1     0.908621
227462       1     0.908629
227861       1     0.908650
227741       1     0.908659
227412       1     0.908700
227715       1     0.908714
227495       1     0.908721
228033       1     0.908721
233977       1     0.908735
227621       1     0.908740
228046       1     0.908791
52881        1     0.908803
227649       1     0.908820
227606       0     0.908866
2349         1     0.908867
210960       1     0.908870
227711       1     0.908898
227694       1     0.908899
219545       1     0.908948
227779       1     0.908969
227548       1     0.908984
233457       1     0.908992

In [27]:
delayed_predictions = []
for i in predictions:
    if (i >=.5):
        delayed_predictions.append(i)
delayed_predictions

[0.6958984732627869,
 0.5225949287414551,
 0.8432033061981201,
 0.6515814661979675,
 0.5019915699958801,
 0.6013199090957642,
 0.6877286434173584,
 0.8888720273971558,
 0.8938652276992798,
 0.9070649147033691,
 0.6762658357620239,
 0.5806198716163635,
 0.9044972062110901,
 0.6967586874961853,
 0.5221697688102722,
 0.589235246181488,
 0.6408214569091797,
 0.7386317253112793,
 0.888862669467926,
 0.7035972476005554,
 0.6870138645172119,
 0.7351451516151428,
 0.90102219581604,
 0.6876509785652161,
 0.5091992616653442,
 0.6249498128890991,
 0.7151979804039001,
 0.5012924075126648,
 0.5155817866325378,
 0.89371657371521,
 0.6491725444793701,
 0.8500484824180603,
 0.6654386520385742,
 0.8300435543060303,
 0.5751740336418152,
 0.6319141983985901,
 0.7364382147789001,
 0.626079797744751,
 0.6324559450149536,
 0.6478130221366882,
 0.538375973701477,
 0.6132471561431885,
 0.6988605260848999,
 0.6889851093292236,
 0.833091676235199,
 0.5318971872329712,
 0.6836946606636047,
 0.6054195761680603,
 0.5378745198249817,
 0.5782068967819214,
 0.6649690866470337,
 0.7241193652153015,
 0.6334838271141052,
 0.7283979654312134,
 0.5613855719566345,
 0.6323018670082092,
 0.5339691042900085,
 0.5545012950897217,
 0.6462306976318359,
 0.5513843297958374,
 0.882063090801239,
 0.8543156385421753,
 0.5119280219078064,
 0.8057750463485718,
 0.5846734642982483,
 0.7385467290878296,
 0.5092973709106445,
 0.5059561729431152,
 0.5432740449905396,
 0.732272744178772,
 0.6341643333435059,
 0.6163949966430664,
 0.7355238199234009,
 0.5517381429672241,
 0.5428961515426636,
 0.8596510887145996,
 0.5306828618049622,
 0.7148542404174805,
 0.5067543983459473,
 0.5310360789299011,
 0.6249882578849792,
 0.8483180999755859,
 0.5819796919822693,
 0.5541867613792419,
 0.567423403263092,
 0.8530012369155884,
 0.597046971321106,
 0.7785892486572266,
 0.8100448250770569,
 0.5447003245353699,
 0.6997993588447571,
 0.7226495742797852,
 0.5421686768531799,
 0.5504977107048035,
 0.5335020422935486,
 0.6534053087234497,
 0.6955603361129761,
 0.6353036165237427,
 0.6273979544639587,
 0.7257583737373352,
 0.6801267862319946,
 0.715894877910614,
 0.6490696668624878,
 0.6013427972793579,
 0.6819761991500854,
 0.604668915271759,
 0.9084367156028748,
 0.7401474714279175,
 0.880723774433136,
 0.5431349277496338,
 0.7749962210655212,
 0.5456313490867615,
 0.5679569244384766,
 0.5757249593734741,
 0.7228675484657288,
 0.5217145085334778,
 0.5130904912948608,
 0.6401464343070984,
 0.6424153447151184,
 0.7167098522186279,
 0.9007177352905273,
 0.7976369261741638,
 0.6370432376861572,
 0.5663048028945923,
 0.5380451083183289,
 0.8682107329368591,
 0.7104525566101074,
 0.9058001041412354,
 0.5700018405914307,
 0.5108137130737305,
 0.5700412392616272,
 0.7745264172554016,
 0.5451384782791138,
 0.5294713973999023,
 0.5419558882713318,
 0.6526249647140503,
 0.65671306848526,
 0.6838877201080322,
 0.685378909111023,
 0.6958106160163879,
 0.6185232400894165,
 0.6021122932434082,
 0.6722400784492493,
 0.6043432354927063,
 0.7213466167449951,
 0.7353690266609192,
 0.6905279755592346,
 0.5085753202438354,
 0.6711809635162354,
 0.6538400650024414,
 0.6234033703804016,
 0.5704729557037354,
 0.9060304760932922,
 0.5413073897361755,
 0.5169137716293335,
 0.6461241841316223,
 0.8881123065948486,
 0.7095135450363159,
 0.6080375909805298,
 0.6847635507583618,
 0.6884900331497192,
 0.734218955039978,
 0.5419976115226746,
 0.6480737924575806,
 0.6102538108825684,
 0.5587319135665894,
 0.9062319397926331,
 0.5395444631576538,
 0.5001686811447144,
 0.6716747879981995,
 0.6349337100982666,
 0.7107053995132446,
 0.6129037737846375,
 0.5465794205665588,
 0.6132815480232239,
 0.5991885662078857,
 0.7865648865699768,
 0.861634373664856,
 0.5809208750724792,
 0.6905133128166199,
 0.6778789758682251,
 0.6964443922042847,
 0.7702226638793945,
 0.543147087097168,
 0.9002983570098877,
 0.6514261364936829,
 0.7214975953102112,
 0.5143359303474426,
 0.6141019463539124,
 0.756684422492981,
 0.883308470249176,
 0.5700618624687195,
 0.6255763173103333,
 0.9014727473258972,
 0.6758775115013123,
 0.8193817138671875,
 0.6667230725288391,
 0.5361291766166687,
 0.8075050711631775,
 0.7558888792991638,
 0.9085863828659058,
 0.68816739320755,
 0.6203909516334534,
 0.7103245854377747,
 0.7372716665267944,
 0.5829328894615173,
 0.6296889781951904,
 0.5082757472991943,
 0.5532044172286987,
 0.5862712860107422,
 0.7440211772918701,
 0.6018273830413818,
 0.5089460015296936,
 0.5782329440116882,
 0.5027066469192505,
 0.5340421795845032,
 0.6852497458457947,
 0.7136214375495911,
 0.9047321677207947,
 0.5864518880844116,
 0.584994912147522,
 0.5427481532096863,
 0.592282772064209,
 0.6832463145256042,
 0.6175572276115417,
 0.5746955275535583,
 0.8982537984848022,
 0.6814802289009094,
 0.6189146041870117,
 0.5041239857673645,
 0.8592331409454346,
 0.6546934843063354,
 0.6456106901168823,
 0.5768203735351562,
 0.6359545588493347,
 0.9041457176208496,
 0.5868950486183167,
 0.5395751595497131,
 0.5106757283210754,
 0.5998011827468872,
 0.5287265777587891,
 0.8108450174331665,
 0.5077232122421265,
 0.8970373868942261,
 0.546251654624939,
 0.6803136467933655,
 0.8467974066734314,
 0.8996247053146362,
 0.9055169820785522,
 0.5875996351242065,
 0.7563077807426453,
 0.5484196543693542,
 0.8946846723556519,
 0.8999824523925781,
 0.7319748401641846,
 0.732948362827301,
 0.6743638515472412,
 0.5924860835075378,
 0.6791684031486511,
 0.6462306976318359,
 0.672467052936554,
 0.6101357340812683,
 0.6737080812454224,
 0.842047929763794,
 0.6695206761360168,
 0.621906042098999,
 0.7577089071273804,
 0.6464585065841675,
 0.5525439977645874,
 0.7399066090583801,
 0.7048227787017822,
 0.5526220798492432,
 0.5653467774391174,
 0.6064102649688721,
 0.9039260745048523,
 0.5461726784706116,
 0.6012831926345825,
 0.8860320448875427,
 0.6280630826950073,
 0.5778083205223083,
 0.5463535189628601,
 0.6383907198905945,
 0.8996160626411438,
 0.6905741691589355,
 0.5372219681739807,
 0.8514226078987122,
 0.5914356708526611,
 0.5875276327133179,
 0.7450121641159058,
 0.5207505822181702,
 0.7651126384735107,
 0.5501325130462646,
 0.5630918145179749,
 0.5393005609512329,
 0.5049443244934082,
 0.6925023198127747,
 0.578898012638092,
 0.9022701382637024,
 0.6516484618186951,
 0.6374499797821045,
 0.6697410345077515,
 0.6107627153396606,
 0.6110447645187378,
 0.8927460312843323,
 0.547882080078125,
 0.7660245299339294,
 0.7347010374069214,
 0.8073402047157288,
 0.6290622353553772,
 0.5146006941795349,
 0.5766153931617737,
 0.6338884830474854,
 0.5433125495910645,
 0.851210355758667,
 0.7362053394317627,
 0.8780192136764526,
 0.6858348846435547,
 0.5944692492485046,
 0.6679947376251221,
 0.5235757827758789,
 0.5164321660995483,
 0.6017747521400452,
 0.5761586427688599,
 0.6364291310310364,
 0.6569240093231201,
 0.6745472550392151,
 0.8750401139259338,
 0.5342158675193787,
 0.6218744516372681,
 0.6392872929573059,
 0.5959641933441162,
 0.526739239692688,
 0.5496261715888977,
 0.8116487860679626,
 0.5736053586006165,
 0.5035799145698547,
 0.8979104161262512,
 0.8962538242340088,
 0.8958314657211304,
 0.5656376481056213,
 0.9019834399223328,
 0.5604629516601562,
 0.6168848872184753,
 0.6812022924423218,
 0.5700701475143433,
 0.9032504558563232,
 0.6269940137863159,
 0.7142573595046997,
 0.5736561417579651,
 0.9039077162742615,
 0.9079678654670715,
 0.609882652759552,
 0.8358211517333984,
 0.6324591040611267,
 0.7118905782699585,
 0.561238169670105,
 0.617374062538147,
 0.8296145796775818,
 0.8204605579376221,
 0.7753517031669617,
 0.5871388912200928,
 0.6723405122756958,
 0.9082773923873901,
 0.6760989427566528,
 0.6247981786727905,
 0.5166220664978027,
 0.6106513738632202,
 0.7874646186828613,
 0.6401562094688416,
 0.558738112449646,
 0.5490052700042725,
 0.654983401298523,
 0.6045147776603699,
 0.8809217810630798,
 0.8943471312522888,
 0.6001162528991699,
 0.852729320526123,
 0.6297903060913086,
 0.8297692537307739,
 0.8207823038101196,
 0.7881690263748169,
 0.5476250052452087,
 0.6326150894165039,
 0.8892977237701416,
 0.5536447763442993,
 0.518837571144104,
 0.6050844788551331,
 0.6616696119308472,
 0.6757351160049438,
 0.9044207334518433,
 0.6016156077384949,
 0.5609381198883057,
 0.7319989204406738,
 0.5218558311462402,
 0.5506560802459717,
 0.673395037651062,
 0.5934882760047913,
 0.5045350193977356,
 0.7298556566238403,
 0.8245663642883301,
 0.5419189929962158,
 0.6291487812995911,
 0.906751275062561,
 0.9039793014526367,
 0.9085258841514587,
 0.5106461644172668,
 0.6145135760307312,
 0.7075276374816895,
 0.7245375514030457,
 0.6266220211982727,
 0.5841338634490967,
 0.518981397151947,
 0.6694904565811157,
 0.8832524418830872,
 0.6738870739936829,
 0.6776586771011353,
 0.8727169036865234,
 0.5282031297683716,
 0.6196216344833374,
 0.6218586564064026,
 0.5422183275222778,
 0.5790045857429504,
 0.759657084941864,
 0.574898898601532,
 0.872606635093689,
 0.7013115882873535,
 0.6676304340362549,
 0.6280669569969177,
 0.5525304675102234,
 0.5817247629165649,
 0.7097067832946777,
 0.5056855082511902,
 0.6106436252593994,
 0.9049115777015686,
 0.633918285369873,
 0.5233050584793091,
 0.5015250444412231,
 0.8821437358856201,
 0.9048275351524353,
 0.7303935885429382,
 0.7978182435035706,
 0.6816572546958923,
 0.6439892053604126,
 0.5185145735740662,
 0.8856602311134338,
 0.544487714767456,
 0.609758734703064,
 0.5565733313560486,
 0.5571810603141785,
 0.8956055641174316,
 0.5733300447463989,
 0.6194865107536316,
 0.6881657838821411,
 0.6266949772834778,
 0.7106503844261169,
 0.9014148712158203,
 0.9004982709884644,
 0.5388832092285156,
 0.5791387557983398,
 0.7643390893936157,
 0.5142703652381897,
 0.8613923788070679,
 0.6875066161155701,
 0.5463686585426331,
 0.6226885318756104,
 0.7295346856117249,
 0.8947399258613586,
 0.6499485969543457,
 0.7114755511283875,
 0.7272992730140686,
 0.6321713924407959,
 0.5788101553916931,
 0.6624858379364014,
 0.7045161724090576,
 0.563528835773468,
 0.5607724189758301,
 0.590089738368988,
 0.5392146706581116,
 0.5341638922691345,
 0.5462299585342407,
 0.6828036904335022,
 0.6743756532669067,
 0.5465844869613647,
 0.5652130842208862,
 0.9065883159637451,
 0.6971276998519897,
 0.5694341063499451,
 0.5656474828720093,
 0.8440959453582764,
 0.7013518214225769,
 0.8055899143218994,
 0.7000855207443237,
 0.8367404937744141,
 0.5467137694358826,
 0.6539995670318604,
 0.5583605766296387,
 0.6382290720939636,
 0.5986063480377197,
 0.645571231842041,
 0.5109158754348755,
 0.6236149072647095,
 0.5218541622161865,
 0.6181009411811829,
 0.8006110787391663,
 0.7020523548126221,
 0.8092230558395386,
 0.8476543426513672,
 0.9019289612770081,
 0.6202842593193054,
 0.57351154088974,
 0.6323928833007812,
 0.5611881613731384,
 0.8010910749435425,
 0.6591010093688965,
 0.6210178732872009,
 0.6932238936424255,
 0.8702466487884521,
 0.5232400894165039,
 0.681542694568634,
 0.5248693227767944,
 0.6928246021270752,
 0.7006588578224182,
 0.5530351996421814,
 0.743586540222168,
 0.6079303622245789,
 0.8958765268325806,
 0.5939034819602966,
 0.7190119624137878,
 0.7860194444656372,
 0.6189953684806824,
 0.5826449394226074,
 0.6104447245597839,
 0.8871614336967468,
 0.5654094815254211,
 0.6813647747039795,
 0.6064063906669617,
 0.5765090584754944,
 0.565883219242096,
 0.6959766745567322,
 0.6719641089439392,
 0.662169337272644,
 0.757465124130249,
 0.5442677736282349,
 0.5506715178489685,
 0.5684988498687744,
 0.5342896580696106,
 0.5855902433395386,
 0.6550255417823792,
 0.5097379684448242,
 0.6443468332290649,
 0.5278239250183105,
 0.6424567103385925,
 0.5511727929115295,
 0.6549736261367798,
 0.8925338983535767,
 0.8543934226036072,
 0.7281800508499146,
 0.6344001889228821,
 0.5435011386871338,
 0.5438749194145203,
 0.5569369196891785,
 0.6536402106285095,
 0.5253123044967651,
 0.5848368406295776,
 0.8351068496704102,
 0.7529124021530151,
 0.5880223512649536,
 0.5070944428443909,
 0.6855787634849548,
 0.7023557424545288,
 0.6743760108947754,
 0.713016152381897,
 0.8993058204650879,
 0.5823702216148376,
 0.7406784296035767,
 0.5761927962303162,
 0.5643973350524902,
 0.7229599952697754,
 0.6637126803398132,
 0.7089022994041443,
 0.6324605941772461,
 0.6063489317893982,
 0.5549770593643188,
 0.6866552829742432,
 0.6243680119514465,
 0.6611002087593079,
 0.6432129144668579,
 0.7186737060546875,
 0.6547127366065979,
 0.6280070543289185,
 0.6565181016921997,
 0.8098661303520203,
 0.580477774143219,
 0.7389955520629883,
 0.6444142460823059,
 0.6069947481155396,
 0.6430240273475647,
 0.5638678669929504,
 0.5786746740341187,
 0.5424700379371643,
 0.6118314266204834,
 0.5566490888595581,
 0.6349325776100159,
 0.7732982635498047,
 0.5753331780433655,
 0.691296398639679,
 0.5644633173942566,
 0.6341028213500977,
 0.8972730040550232,
 0.6409307718276978,
 0.7655731439590454,
 0.8969367146492004,
 0.8371258974075317,
 0.8211440443992615,
 0.6527987718582153,
 0.7376973032951355,
 0.6180101037025452,
 0.5912719964981079,
 0.901447594165802,
 0.8134772777557373,
 0.6138803958892822,
 0.6767880320549011,
 0.6048755645751953,
 0.658470094203949,
 0.8888998627662659,
 0.6065652370452881,
 0.5861192345619202,
 0.5279206037521362,
 0.9046739935874939,
 0.5514833331108093,
 0.577681303024292,
 0.859666109085083,
 0.6516074538230896,
 0.7127645611763,
 0.5441192984580994,
 0.7756620049476624,
 0.8428084850311279,
 0.5932852625846863,
 0.6450468301773071,
 0.6413782238960266,
 0.6336975693702698,
 0.8966788053512573,
 0.7630143165588379,
 0.737032413482666,
 0.5521043539047241,
 0.628774881362915,
 0.6999147534370422,
 0.5507863759994507,
 0.5719043016433716,
 0.6497673392295837,
 0.6409307718276978,
 0.5913726687431335,
 0.5551214218139648,
 0.6604816913604736,
 0.6520524621009827,
 0.5811054706573486,
 0.903512179851532,
 0.7320644855499268,
 0.8844171762466431,
 0.5971686244010925,
 0.6209374666213989,
 0.5387093424797058,
 0.8863956928253174,
 0.6244181394577026,
 0.5432354807853699,
 0.5395029783248901,
 0.5305729508399963,
 0.9080336093902588,
 0.5837720036506653,
 0.6133134365081787,
 0.6652597188949585,
 0.7302467226982117,
 0.7174129486083984,
 0.6657139658927917,
 0.6936204433441162,
 0.6500958800315857,
 0.657681405544281,
 0.7855001091957092,
 0.7619314193725586,
 0.5352261066436768,
 0.8792691230773926,
 0.5545389652252197,
 0.6720262169837952,
 0.6774592995643616,
 0.8948836326599121,
 0.6510719656944275,
 0.5395159125328064,
 0.8931974172592163,
 0.6504994630813599,
 0.6982304453849792,
 0.5529738664627075,
 0.8285334706306458,
 0.7193135023117065,
 0.7141818404197693,
 0.5338237285614014,
 0.7571077942848206,
 0.5790061354637146,
 0.8338233232498169,
 0.8816258907318115,
 0.644131600856781,
 0.8060722947120667,
 0.5610485076904297,
 0.5985231995582581,
 0.6432471871376038,
 0.5514800548553467,
 0.9071988463401794,
 0.5466408729553223,
 0.5371922254562378,
 0.8286974430084229,
 0.8663452863693237,
 0.5350594520568848,
 0.5925502777099609,
 0.686812162399292,
 0.7387003302574158,
 0.8369947671890259,
 0.9067122936248779,
 0.699754536151886,
 0.6440408229827881,
 0.5596628785133362,
 0.5247235298156738,
 0.5160622000694275,
 0.653457760810852,
 0.6487282514572144,
 0.8932228684425354,
 0.9003072381019592,
 0.7490158677101135,
 0.5992588996887207,
 0.5456282496452332,
 0.5654668807983398,
 0.5549642443656921,
 0.7605692148208618,
 0.7121749520301819,
 0.8596222400665283,
 0.6895736455917358,
 0.5851792693138123,
 0.5501269698143005,
 0.5623881220817566,
 0.8772703409194946,
 0.6072354316711426,
 0.5098438262939453,
 0.7529091835021973,
 0.5706121325492859,
 0.560516357421875,
 0.6322771310806274,
 0.6654239892959595,
 0.8922731280326843,
 0.5961805582046509,
 0.6311054229736328,
 0.8826961517333984,
 0.673620879650116,
 0.5301452875137329,
 0.5194282531738281,
 0.5711281299591064,
 0.543746292591095,
 0.5993467569351196,
 0.5306828618049622,
 0.642041802406311,
 0.6058974862098694,
 0.5981253981590271,
 0.6728564500808716,
 0.5827669501304626,
 0.571289598941803,
 0.5338155627250671,
 0.6825603246688843,
 0.5569032430648804,
 0.6057837605476379,
 0.6442235708236694,
 0.6641837358474731,
 0.5652664303779602,
 0.8951661586761475,
 0.6863925457000732,
 0.5984450578689575,
 0.5019912123680115,
 0.9035651683807373,
 0.9085288643836975,
 0.628837525844574,
 0.678505539894104,
 0.8789584040641785,
 0.6408426761627197,
 0.6032452583312988,
 0.6380649209022522,
 0.5697221755981445,
 0.7521798014640808,
 0.9010574221611023,
 0.6070972681045532,
 0.8676201701164246,
 0.5202573537826538,
 0.529880166053772,
 0.5567359328269958,
 0.5979328155517578,
 0.6147397756576538,
 0.5159821510314941,
 0.8853862285614014,
 0.905439555644989,
 0.6753832697868347,
 0.6355099081993103,
 0.8312426805496216,
 0.6212970614433289,
 0.6013749837875366,
 0.6195020079612732,
 0.607501208782196,
 0.7670150399208069,
 0.5117332339286804,
 0.5610988140106201,
 0.6664312481880188,
 0.5933193564414978,
 0.6170750260353088,
 0.6830748915672302,
 0.6627054810523987,
 0.7009053826332092,
 0.8730997443199158,
 0.6942969560623169,
 0.6204304099082947,
 0.6726305484771729,
 0.9039086103439331,
 0.7294661402702332,
 0.6271077990531921,
 0.9021441340446472,
 0.5503801107406616,
 0.8071630001068115,
 0.5854007005691528,
 0.5554635524749756,
 0.6625314950942993,
 0.6362125873565674,
 0.6957945823669434,
 0.5461180806159973,
 0.6785373687744141,
 0.7394673228263855,
 0.8584520220756531,
 0.6034322381019592,
 0.7658567428588867,
 0.8715733885765076,
 0.6819243431091309,
 0.5274931788444519,
 0.552384078502655,
 0.5436984896659851,
 0.6370549201965332,
 0.693900465965271,
 0.8771311044692993,
 0.5460967421531677,
 0.61539226770401,
 0.5898832678794861,
 0.5303352475166321,
 0.9064465165138245,
 0.5514000654220581,
 0.8945122361183167,
 0.5640837550163269,
 0.7784953713417053,
 0.7402646541595459,
 0.6570585370063782,
 0.5521185994148254,
 0.6822323203086853,
 0.9017642736434937,
 0.7566264867782593,
 0.5885796546936035,
 0.5854234099388123,
 0.6101163625717163,
 0.7243903875350952,
 0.5394371747970581,
 0.6617832183837891,
 0.5511727929115295,
 0.5073108077049255,
 0.9070833325386047,
 0.7545446753501892,
 0.7278741598129272,
 0.662104070186615,
 0.5436251163482666,
 0.595518946647644,
 0.7048991918563843,
 0.7336077690124512,
 0.5433346033096313,
 0.6352102756500244,
 0.622117817401886,
 0.6662013530731201,
 0.6442023515701294,
 0.9081103801727295,
 0.90784752368927,
 0.7049901485443115,
 0.6286067366600037,
 0.5260990858078003,
 0.5503312945365906,
 0.5219811797142029,
 0.8589476346969604,
 0.5342158675193787,
 0.7795305252075195,
 0.905788779258728,
 0.8614720106124878,
 0.6468521356582642,
 0.7476673126220703,
 0.8726842999458313,
 0.5290536880493164,
 0.656286358833313,
 0.6354625225067139,
 0.5080253481864929,
 0.5779668688774109,
 0.880685567855835,
 0.7991700768470764,
 0.7496816515922546,
 0.6230412125587463,
 0.5457620620727539,
 0.5854877829551697,
 0.5550483465194702,
 0.6810963749885559,
 0.5534536838531494,
 0.7239812612533569,
 0.8925461173057556,
 0.7021837830543518,
 0.6245540380477905,
 0.6589481234550476,
 0.896047830581665,
 0.5179501175880432,
 0.5417198538780212,
 0.6569218635559082,
 0.7348314523696899,
 0.6020718216896057,
 0.6971594095230103,
 0.5682579278945923,
 0.7219128012657166,
 0.6134272813796997,
 0.6958315372467041,
 0.5772777795791626,
 0.5399549007415771,
 0.532206118106842,
 0.6447802186012268,
 0.6839242577552795,
 0.8918293118476868,
 0.5305660367012024,
 0.5303589105606079,
 0.6446565389633179,
 0.6701497435569763,
 0.5934878587722778,
 0.8018630146980286,
 0.892238199710846,
 0.6023231148719788,
 0.512092649936676,
 0.804313600063324,
 0.546299934387207,
 0.55986088514328,
 0.9043660759925842,
 0.5635439157485962,
 0.5308188796043396,
 0.5824090242385864,
 0.617434561252594,
 0.7503270506858826,
 0.539232075214386,
 0.5085182189941406,
 0.6332226991653442,
 0.6403120160102844,
 0.6889012455940247,
 0.5174020528793335,
 0.8055900931358337,
 0.6048325896263123,
 0.608870267868042,
 0.7148088812828064,
 0.7647109627723694,
 0.5613555312156677,
 0.6717844009399414,

In [28]:
len(delayed_predictions)

8365

## LogisticRegression

In [29]:

from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

from sklearn.linear_model import LogisticRegression

In [30]:
model = LogisticRegression(random_state=1)

# Fit the model using training data
model.fit(X_train, y_train)

C:\Users\Matt\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(random_state=1)

In [31]:
model.score(X_train, y_train)

0.7808766456129671

In [32]:
# Make a prediction using the testing data
predictions = model.predict(X_test)
predictions

array([0, 1, 0, ..., 0, 0, 1], dtype=int64)

In [33]:
# Print the balanced_accuracy score of the model
balanced_accuracy_score(y_test,predictions)

0.5979941086517138

In [34]:
# Generate a confusion matrix for the model
confusion_matrix(y_test,predictions)

array([[50877,  2280],
       [12885,  4044]], dtype=int64)

In [35]:
# Print the classification report for the model
tn, fp, fn, tp = confusion_matrix(y_test, predictions).ravel()
accuracy = (tp + tn) / (tp + fp + tn + fn)
accuracy

0.7836229774848044